/* buttons */
.btn-submit { display: block; margin-top: 25px; height: 50px; width: 100%; font-size: 0.875rem; font-weight: 500; color: #fff; line-height: 3.125rem; text-align: center; border-radius: 2px !important; background-color: #494949 !important;
	&[disabled],
	&[data-state=disabled] { background-color: #bbb !important; }
}


/* tab slider */
.slider-container { overflow: hidden; position: relative; visibility: hidden;
	.swipe-wrap { overflow: hidden; position: relative; }
}

/* 테이블 뷰 형태 */
.header-table-view { padding: 0 4.444444444444%; font-size: 0.750rem; font-weight: 300; color: #888; line-height: 2.063rem;
	.message { float: right; font-size: 0.750rem;
		&.required { color: #e65c5c; }
		&.pending { color: #fdbe00; }
		&.confirm { color: #3787f8; }
	}
}
.list-table-view { width: 100%; border-bottom: 1px solid #dedede; background-color: #fff;
	> li { overflow: hidden; position: relative; padding: 0 4.444444444444%; height: auto; border-top: 1px solid #dedede;

		/* normal */
		.item { clear: both; overflow: hidden;
			.title { line-height: 1.750rem; }
			.content { line-height: 1.750rem; }

			&:first-child { padding-top: 6px; }
			&:last-child { padding-bottom: 6px; }
		}

		.title { float: left; font-size: 0.813rem; font-weight: 300; color: #010101; line-height: 2.500rem; }
		.content { float: right; font-size: 0.813rem; font-weight: 300; color: #888; line-height: 2.500rem;
			.strong { font-weight: 500; color: #ac7f5e; }
			.required { font-weight: 500; color: #e65c5c; }
		}

		/* link */
		a { display: block; position: relative; right: -4.878048780488%; left: -4.878048780488%; padding: 0 4.878048780488%; min-height: 40px; height: 100%; width: 100%;
			&:after { content: ''; display: block; position: absolute; top: 0.813rem; right: 4.444444444444%; @include retina-sprite($s-icon-arrow01-group); }

			&:active,
			&:hover { background-color: #fffacd; }

			.content { margin-right: 18px; }
		}
	}

	.btn-info { display: inline-block; margin-top: -2px; text-indent: -9999px; vertical-align: middle; @include retina-sprite($s-btn-info01-group); }

	/* 기업 상세 폰트 사이즈 작음 */
	&.detail {
		> li {
			.title { font-size: 0.688rem; color: #888; }
			.content {
				.em { font-weight: 700; color: #000; }
				.ci { height: 40px; width: auto; }
			}
		}
	}
}


/* 알림 목록 */
.list-notification { background-color: #fff;
	> li { padding: 19px 6.944444444444% 15px 6.944444444444%; border-bottom: 1px solid #d7d7d7;
		.title { display: block; font-size: 0.875rem; font-weight: 300; color: #000; line-height: 1rem; }
		time { display: block; margin-top: 12px; font-size: 0.688rem; font-weight: 300; color: #888; }

		&.recent { background-color: #fffacd; }
	}
}


/* form controls */
.form-controls {
	.input { overflow: hidden;
		> label {  }
		> input[type=text] { }
	}

	input[type=checkbox] { appearance: none; border: 0; border-radius: 0; }

	/* */
	.week-write {
		label { float: left; font-size: 0.750rem; font-weight: 300; color: #000; line-height: 34px; }
		
		input[type=text] { float: right; box-sizing: border-box; padding: 0 10px 0 0; height: 34px; width: 77.41935483871%; font-size: 0.938rem; font-weight: 300; color: #000; line-height: 34px; text-align: right; border: 0px; }

		.with-txt { float: right; position: relative; box-sizing: border-box; padding-right: 16px; width: 77.41935483871%;
			&:after { content: attr(data-txt); position: absolute; right: 0; font-size: 0.938rem; font-weight: 300; color: #000; line-height: 34px; }
			input[type=text] { padding: 0; width: 100%; }
		}
	}

	/* 중요 입력 */
	.strong-write { overflow: hidden;
		label { float: left; font-size: 0.938rem; color: #000; line-height: 50px; }
		input[type=tel] { float: right; box-sizing: border-box; padding: 0 10px 0 0; height: 46px; width: 77.41935483871%; font-size: 1.250rem; font-weight: 700; color: #000; line-height: 46px; text-align: right; border: 2px solid #ffde00; }
	}

	.list-input {
		> li { overflow: hidden; padding-top: 15px; border-bottom: 1px solid #dedede; }
	}

	/* validate message */
	.validate-message { clear: both; display: block; margin-top: 3px; font-size: 0.750rem; font-weight: 400; color: #e65c5c; text-align: right;
		&:before { content: ''; display: inline-block; margin-top: -2px; margin-right: 4px; vertical-align: middle; @include retina-sprite($s-icon-iks-group); }
	}
}


/* 약관 동의 */
.agreements { margin-top: 32px;
	.all-agreements { position: relative;
		input[type=checkbox] { display: block; position: absolute; top: 50%; left: 20px; margin-top: -$s-checkbox-all-height/2; @include retina-sprite($s-checkbox-all-group);
			+ label { display: block; box-sizing: border-box; padding: 0 0 0 54px; height: 40px; font-size: 0.875rem; font-weight: 400; color: #000; line-height: 38px; border: 1px solid #f1d200; background-color: #ffde00; }

			&:checked { @include retina-sprite($s-checkbox-all-checked-group); background-color: transparent;
				+ label { color: #ffde00; border: 1px solid #494949; background-color: #5c5c5c; }
			}
		}
	}

	.list-check-agreement { padding: 10px 22px 10px 25px; border: 1px solid #dedede; border-top: 0px;
		> li { position: relative; height: 26px;
			input[type=checkbox] { display: block; position: absolute; top: 50%; left: 0px; margin-top: -$s-checkbox-gray-height/2; @include retina-sprite($s-checkbox-gray-group);
				+ label { display: block; float: left; box-sizing: border-box; padding: 0 0 0 30px; height: 26px; font-size: 0.813rem; font-weight: 400; color: #bbb; line-height: 26px; }

				&:checked { @include retina-sprite($s-checkbox-gray-checked-group); background-color: transparent;
					+ label { color: #000; }
				}
			}

			.btn-more { display: block; position: absolute; top: 50%; right: 0; margin-top: -$s-btn-more-01-height/2; text-indent: -9999px; @include retina-sprite($s-btn-more-01-group); }
		}
	}
}


/* toggle contents */
.list-folding { border-bottom: 1px solid #dedede; background-color: #fff;
	.btns { padding: 0 4.444444444444% 20px 0; text-align: right;
		.btn-inline { display: inline-block; margin-left: 4px; min-width: 55px; font-size: 0.750rem; font-weight: 500; color: #000; text-align: center; line-height: 1.688rem; border: 1px solid #d5d5d5; border-radius: 1.688rem; background-color: #f4f4f4;
			&.strong { color: #fff; border: 1px solid #ab8060; background-color: #b78c6c; }
		}
	}

	dt { display: block; overflow: hidden; border-top: 1px solid #dedede;
		> a { display: block; box-sizing: border-box; position: relative; padding: 13px 9.722222222222% 14px 6.944444444444%; color: #000; text-decoration: none;
			&:after { content: ''; display: block; position: absolute; top: 19px; right: 4.444444444444%; @include retina-sprite($s-btn-down-01-group); }

			.title { display: block; overflow: hidden; padding-right: 25px; max-height: 0.938rem; font-size: 0.813rem; font-weight: 300; line-height: 0.938rem; text-overflow: ellipsis; white-space: nowrap; }

			time { float: right; font-size: 0.688rem; font-weight: 300; color: #888; line-height: 0.938rem; vertical-align: middle; }
			.user { float: left; font-size: 0.688rem; font-weight: 400; color: #000; line-height: 0.938rem; vertical-align: middle; }

			.info { clear: both; overflow: hidden; margin-top: 16px; }
		}
		.btns { display: none; }

		&.is-open {
			> a {
				&:after { @include retina-sprite($s-btn-up-01-group); }
				.title { max-height: 100%; font-weight: 700; line-height: 0.938rem; text-oveflow: none; white-space: normal; }
			}

			.btns { display: block; }

			+ dd { display: block; }
		}
	}
	dd { display: none;
		.desc { position: relative; padding: 0 9.722222222222% 13px 6.944444444444%; font-size: 0.750rem; font-weight: 400; color: #ac7f5e; line-height: 1.125rem; }
	}


	&.qna {
		dt {
			> a { padding-left: 15.277777777778%;
				> time { display: none; }
				&:before { content: ''; display: block; position: absolute; top: 12px; left: 6.944444444444%; @include retina-sprite($s-icon-q-group); }
			}
		}

		dd {
			.desc { padding-left: 15.277777777778%;
				&:before { content: ''; display: block; position: absolute; top: 0; left: 6.944444444444%; @include retina-sprite($s-icon-a-group); }
			}
			
			.info { clear: both; overflow: hidden; padding: 0 9.722222222222% 15px 15.277777777778%;
				time { float: right; font-size: 0.688rem; font-weight: 300; color: #888; line-height: 0.938rem; vertical-align: middle; }
				.user { float: left; font-size: 0.688rem; font-weight: 400; color: #ac7f5e; line-height: 0.938rem; vertical-align: middle; }
			}	
		}
	}
}





/* 투자 회사 */
.company-item { display: block; overflow: hidden; position: relative; box-sizing: border-box; padding: 27px 6.944444444444% 0 6.944444444444%; height: 232px; background-position: center center; background-size: cover;
	&:before { content: ''; display: block; position: absolute; right: 0; bottom: 0; left: 0; height: 75px; background: url('/assets/images/bg_list_gradation.png') left bottom repeat-x;
		@include retina { background-image: url('/assets/images/bg_list_gradation@2x.png'); background-size: auto 75px; }
	}
	&:after { content: ''; display: block; position: absolute; top: 0; right: 0; bottom: 0; left: 0; background-color: rgba(0, 0, 0, 0.1); }

	&:hover { text-decoration: none; }

	.badge { position: absolute; top: 0; right: 0; text-indent: -9999px;
		&.success { display: block; @include retina-sprite($s-flag-success-group); }
	}
	time { display: block; position: relative; z-index: z("default"); font-size: 0.750rem; font-weight: 700; color: #ffe500; text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3); }
	.title { display: block; position: relative; z-index: z("default"); margin-top: 5px; font-size: 1.188rem; font-weight: 500; color: #fff; text-decoration: none; text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3); }
	.badges { overflow: hidden; position: relative; z-index: z("default"); margin-top: 8px;
		> span { display: block; float: left; margin-right: 5px; text-indent: -9999px; }
		.deductions { @include retina-sprite($s-icon-deductions-group); }
		.lead { @include retina-sprite($s-icon-lead-group); }
	}
	.btn-favorite { display: block; position: absolute; top: 40px; right: 12px; z-index: z("default"); text-indent: -9999px;
		&[value=true] { @include retina-sprite($s-btn-favorite-shadow-selected-group); }
	}

	.progress { display: block; position: absolute; right: 0; bottom: 25px; left: 0; padding: 0 6.944444444444%;
		p[data-value] { display: block; position: relative; font-size: 0.688rem; font-weight: 700; color: #ffe500; text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3); 
			&:before { content: attr(data-value) '%'; display: block; position: absolute; top: -8px; right: 10px; }
			&:after { content: ''; display: block; position: absolute; top: -5px; right: -8px; @include retina-sprite($s-icon-yinc-group); }
		}
	}

	progress[value] { position: relative; appearance: none; height: 4px; width: 100%; border: none; background-color: transparent;
		&::-moz-progress-bar { background-color: transparent; }
		&::-webkit-progress-bar { background-color: transparent; }

		&::-webkit-progress-value { background-color: #fde832; }

		.progress-bar { height: 4px; width: 100%; background-color: transparent;
			> span { display: block; background-color: #fde832; }
		}
	}


	.add-info { display: block; box-sizing: border-box; position: absolute; right: 0; bottom: -100%; left: 0; z-index: z("default"); padding: 11px 6.944444444444% 0 6.944444444444%; height: 70px; background-color: rgba(0, 0, 0, 0.45);
		animation: slideDown 0.7s ease-in-out;
		animation-fill-mode: both;

		.current { float: left; }
		.goal { float: right; text-align: right; }

		span { display: block; font-size: 0.750rem; font-weight: 300; color: #fff; }
		strong { display: block; margin-top: 5px; font-size: 1.125rem; font-weight: 300; color: #fff;
			em { font-weight: 700; }
		}

	}

	&.is-opened {
		.add-info { bottom: 0; animation-name: slideUp; }
	}
}




/* 투자 목록 */
.list-company {
	> li { border-bottom: 1px solid #fff; }
}

/* 목록 없음 */
.none-list-company { display: flex; position: fixed; top: 0; right: 0; bottom: 0; left: 0; justify-content: center; align-items: center; font-size: 1.000rem; font-weight: 700; background-color: #f4f4f4;
	> p { color: #d8d8d8; text-shadow: 1px 4px 6px #f4f4f4, 0 0 0 #000, 1px 4px 6px #f4f4f4;
		&:before { content: ''; display: block; margin: 0 auto 24px auto; @include retina-sprite($s-icon-none-group); }
	}

	/* 관심기업 */
	&.like {
		> p {
			&:before { @include retina-sprite($s-icon-none-like-group); }
		}
	}
}


/* 하단 문구 */
.warning { clear: both; display: block; position: relative; padding-left: 21px; font-size: 0.750rem; font-weight: 400; color: #bbb; line-height: 1.063rem;
	&:before { content: ''; display: block; position: absolute; top: 2px; left: 0; @include retina-sprite($s-icon-iks-02-group); }

	.em { color: #e65c5c; }
	
	.list-hyphen { margin-top: 6px;
		> li { position: relative; padding-left: 7px; font-size: 0.750rem; font-weight: 400; line-height: 1.063rem;
			&:before { content: '-'; display: block; position: absolute; top: 0; left: 0; }
		}
	}
}
