/* 사용자 */
.contents.user {
	.agreement-content { padding: 55px 6.944444444444% 24px 6.944444444444%;
		> .title { position: relative; text-align: center;
			&:before { content: ''; display: block; position: absolute; top: 50%; right: 0; left: 0; z-index: z("default") - 1; height: 1px; background-color: #999; }

			> span { display: inline-block; position: relative; z-index: z("default"); overflow: hidden; padding: 0 13px; max-width: 200px; font-size: 1.063rem; font-weight: 500; color: #000; text-align: center; text-overflow: ellipsis; white-space: nowrap; background-color: #fff; }
		}

		.message { margin-top: 28px; font-size: 0.875rem; font-weight: 400; color: #888; line-height: 1.250rem; text-align: center; }
	}

	/* 유저 프로필 상단 */
	.profile { padding: 16px 0 15px 0;
		.thumb { display: block; overflow: hidden; margin: 0 auto; height: 64px; width: 64px; text-align: center; border: 3px solid #fff; box-shadow: inset 0 0 1px 0 rgba(0, 0, 0, 0.15); border-radius: 64px; background-color: #fde832;
			&:before { content: ''; display: inline-block; height: 100%; vertical-align: middle; }
			img { display: inline-block; vertical-align: middle; line-height: 64px; }
		}
		figcaption { padding-top: 4px; font-size: 0.875rem; font-weight: 400; color: #000; text-align: center; }

		+ .header-table-view { margin-top: 0px; }
	}

	.header-table-view { margin-top: 28px; }

	/* 탈퇴 */
	.secession { padding: 35px 4.444444444444%; font-size: 0.750rem; font-weight: 300; color: #000;
		.btn-secession { float: right; font-size: 0.750rem; font-weight: 300; color: #000; text-decoration: underline; }
	}


	/* */
	.user-content { padding: 24px 6.944444444444% 24px 6.944444444444%;
		.list-user-items {
			> li { overflow: hidden; padding-top: 17px; 
				label { display: none; }

				input[type=text],
				input[type=password],
				input[type=tel] { display: block; width: 100%; font-size: 0.938rem; font-weight: 400; color: #000; line-height: 1.938rem; border-bottom: 1px solid #c4c6c9; background-color: transparent;
					&:focus { box-shadow: inset 0 -1px 0 0 #ffde00; border-bottom: 1px solid #ffde00; }

					&[disabled] { color: #000; opacity: 1; }
				}

				.placeholder-file { margin-top: 18px; float: left; width: 74.193548387097%; }
				.btn-file { display: block; float: right; position: relative; overflow: hidden; height: 50px; width: 20.967741935484%; font-size: 0.813rem; font-weight: 500; color: #fff; text-align: center; line-height: 3.125rem; border-radius: 1px; background-color: #494949;
					input[type=file] { position: absolute; top: 0; right: 0; bottom: 0; left: 0; cursor: pointer; opacity: 0; }
				}

				.add-info { clear: both; font-size: 0.750rem; font-weight: 300; color: #bbb; }
			}
		}

		/* 휴대폰번호 변경 */
		.sms-auth { position: relative; overflow: hidden; margin-top: 43px;
			label { display: block; margin-bottom: 22px; font-size: 0.875rem; font-weight: 400; color: #666; text-align: center; }
			input[type=tel] { float: left; display: block; box-sizing: border-box; padding-left: 13px; width: 74.193548387097%; font-size: 0.938rem; font-weight: 400; color: #000; text-align: left; line-height: 2.875rem; border: 2px solid #ffde00; background-color: #fff; }
			.btn-inner { display: block; float: right; height: 50px; width: 20.967741935484%; font-size: 0.813rem; font-weight: 500; color: #fff; text-align: center; line-height: 3.125rem; border-radius: 1px; background-color: #494949; }
		}


		/* 증권계좌 변경 */
		.list-invest-items { margin-top: 7px; margin-bottom: 43px;
			> li { overflow: hidden; padding-top: 9px;
				&.focus {
					.item { border-bottom: 2px solid #ffde00; }
				}
				.item { display: block; overflow: hidden; border-bottom: 1px solid #dedede; }
				.title { float: left; font-size: 0.938rem; font-weight: 400; color: #000; line-height: 2.813rem; }

				.content { float: right; font-size: 0.938rem; font-weight: 300; color: #000; line-height: 2.813rem; 
					strong { font-weight: 700; }
					select.bank { display: inline-block; padding-right: 24px; font-size: 0.938rem; line-height: 2.813rem; background: url('/assets/images/bg_select.png') right top no-repeat;
						@include retina { background-image: url('/assets/images/bg_select@2x.png'); background-size: 9px 45px; }
					}	
				}

				.with-txt { float: right; position: relative; box-sizing: border-box; width: 72.41935483871%;
					input[type=text] { padding: 0; width: 100%; font-size: 0.938rem; font-weight: 400; color: #000; text-align: right; line-height: 2.813rem; }
				}
			}
		}

		
		/* 회원 유형 */
		.type-message { padding-top: 12px; font-size: 0.875rem; font-weight: 400; color: #000; text-align: center; }
		.type-tab { overflow: hidden; margin-top: 37px;
			a { display: block; height: 63px; width: 48.387096774194%; font-size: 1.063rem; font-weight: 500; color: #fff; text-align: center; line-height: 63px; border: 1px solid #bababa; border-radius: 1px; background-color: #c7c7c7;
				&:first-child { float: left; }
				&:last-child { float: right; }

				&.is-selected {
					&:first-child { border: 1px solid #a87f5f; background-color: #b78c6c; }
					&:last-child { border: 1px solid #5e92a7; background-color: #72a1b3; }
				}
			}
		}

		.list-type { margin-top: -1px; border: 1px solid #d3d3d3; background-color: #fff;
			> li { position: relative; border-top: 1px solid #d3d3d3;
				&:first-child { border-top: 0; }
				
				input[type=radio] { position: absolute; left: -9999px;
					&:checked {
						+ label {
							&:before { content: ''; display: block; position: absolute; top: 52%; right: 8.116883116883%; z-index: z("default"); margin-top: -$s-checkbox-all-height/2; margin-right: 20px; @include retina-sprite($s-checkbox-all-group); }
							&:after { content: ''; border: 1px solid #aa8061; background-color: #b68c6d; }
						}

						~ .list-inner { display: block; }
					}
				}

				> label { display: flex; flex-direction: column; justify-content: center; position: relative; padding: 0 32.467532467532% 0 7.954545454545%; min-height: 83px;
					.title { display: block; font-size: 0.938rem; font-weight: 500; color: #9a6b4c; }
					.desc { margin-top: 4px; font-size: 0.688rem; font-weight: 400; color: #888; line-height: 0.938rem; }

					&:after { content: '선택'; display: block; position: absolute; top: 50%; right: 8.116883116883%; margin-top: -13px; height: 1.688rem; width: 55px; font-size: 0.750rem; font-weight: 500; color: #000; line-height: 27px; text-align: center; border: 1px solid #d5d5d5; border-radius: 1.688rem; background-color: #f4f4f4; }
				}
			}
		}

		.list-inner { display: none; margin: 0 4.87012987013%; padding: 3px 0 19px 3.597122302158%; border-top: 1px dashed #c8c8c8;
			> li { position: relative;
				input[type=radio] { position: absolute; left: -9999px;
					&:checked {
						+ label {
							&:before { top: 3px; margin-top: 0; @include retina-sprite($s-checkbox-gray-checked-group); }
							&:after { content: none; }
						}
					}
				}
				> label { display: block; position: relative; margin-top: 15px; padding-left: 10.431654676259%; font-size: 0.813rem; font-weight: 400; color: #bbb; line-height: 0.938rem;
					&:before { content: ''; display: block; position: absolute; top: 3px; left: 0; margin-top: 0; @include retina-sprite($s-checkbox-gray-group); }
				}
			}
		}

		/* 회원유형 신청 완료 */
		.usertype-complete { margin-top: 27px;
			h2 { display: block; height: 48px; font-size: 1.063rem; font-weight: 500; color: #fff; text-align: center; line-height: 48px; border: 1px solid #bababa; border-radius: 1px; background-color: #c7c7c7; }
			.info { margin-top: -1px; padding: 0 4.838709677419%; border: 1px solid #d3d3d3; background-color: #fff;
				dt { padding-top: 22px; padding-left: 3.571428571429%; font-size: 0.938rem; font-weight: 500; color: #9a6b4c; }
				dd { padding-top: 7px; padding-bottom: 19px; padding-left: 3.571428571429%; font-size: 0.813rem; font-weight: 400; color: #888; }

				dt.documents { font-size: 0.813rem; font-weight: 700; color: #000; border-top: 1px dashed #c8c8c8; }
				dd.documents { fonts-ize: 0.750rem; font-weight: 400; color: #000; line-height: 1.125rem;
					> em { font-weight: 700; }
				}
			}

			&.personal {
				h2 { border: 1px solid #a87f5f; background-color: #b78c6c; }
			}
			&.corporation {
				h2 { border: 1px solid #5e92a7; background-color: #72a1b3; }
			}

			.warning { color: #000; }
		}
		
		.btn-submit { margin-top: 45px; }
		.warning { margin-top: 38px; color: #888; }
	}
}