/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$s-bg-arrow-01-name: 's-bg_arrow_01';
$s-bg-arrow-01-x: 138px;
$s-bg-arrow-01-y: 175px;
$s-bg-arrow-01-offset-x: -138px;
$s-bg-arrow-01-offset-y: -175px;
$s-bg-arrow-01-width: 8px;
$s-bg-arrow-01-height: 5px;
$s-bg-arrow-01-total-width: 236px;
$s-bg-arrow-01-total-height: 208px;
$s-bg-arrow-01-image: '/assets/images/sprites.png';
$s-bg-arrow-01: (138px, 175px, -138px, -175px, 8px, 5px, 236px, 208px, '/assets/images/sprites.png', 's-bg_arrow_01', );
$s-bg-flag01-name: 's-bg_flag01';
$s-bg-flag01-x: 92px;
$s-bg-flag01-y: 144px;
$s-bg-flag01-offset-x: -92px;
$s-bg-flag01-offset-y: -144px;
$s-bg-flag01-width: 59px;
$s-bg-flag01-height: 26px;
$s-bg-flag01-total-width: 236px;
$s-bg-flag01-total-height: 208px;
$s-bg-flag01-image: '/assets/images/sprites.png';
$s-bg-flag01: (92px, 144px, -92px, -144px, 59px, 26px, 236px, 208px, '/assets/images/sprites.png', 's-bg_flag01', );
$s-bg-flag02-name: 's-bg_flag02';
$s-bg-flag02-x: 69px;
$s-bg-flag02-y: 109px;
$s-bg-flag02-offset-x: -69px;
$s-bg-flag02-offset-y: -109px;
$s-bg-flag02-width: 59px;
$s-bg-flag02-height: 26px;
$s-bg-flag02-total-width: 236px;
$s-bg-flag02-total-height: 208px;
$s-bg-flag02-image: '/assets/images/sprites.png';
$s-bg-flag02: (69px, 109px, -69px, -109px, 59px, 26px, 236px, 208px, '/assets/images/sprites.png', 's-bg_flag02', );
$s-btn-close-name: 's-btn_close';
$s-btn-close-x: 79px;
$s-btn-close-y: 193px;
$s-btn-close-offset-x: -79px;
$s-btn-close-offset-y: -193px;
$s-btn-close-width: 14px;
$s-btn-close-height: 14px;
$s-btn-close-total-width: 236px;
$s-btn-close-total-height: 208px;
$s-btn-close-image: '/assets/images/sprites.png';
$s-btn-close: (79px, 193px, -79px, -193px, 14px, 14px, 236px, 208px, '/assets/images/sprites.png', 's-btn_close', );
$s-btn-down-01-name: 's-btn_down_01';
$s-btn-down-01-x: 124px;
$s-btn-down-01-y: 175px;
$s-btn-down-01-offset-x: -124px;
$s-btn-down-01-offset-y: -175px;
$s-btn-down-01-width: 9px;
$s-btn-down-01-height: 5px;
$s-btn-down-01-total-width: 236px;
$s-btn-down-01-total-height: 208px;
$s-btn-down-01-image: '/assets/images/sprites.png';
$s-btn-down-01: (124px, 175px, -124px, -175px, 9px, 5px, 236px, 208px, '/assets/images/sprites.png', 's-btn_down_01', );
$s-btn-favorite-name: 's-btn_favorite';
$s-btn-favorite-x: 0px;
$s-btn-favorite-y: 144px;
$s-btn-favorite-offset-x: 0px;
$s-btn-favorite-offset-y: -144px;
$s-btn-favorite-width: 44px;
$s-btn-favorite-height: 44px;
$s-btn-favorite-total-width: 236px;
$s-btn-favorite-total-height: 208px;
$s-btn-favorite-image: '/assets/images/sprites.png';
$s-btn-favorite: (0px, 144px, 0px, -144px, 44px, 44px, 236px, 208px, '/assets/images/sprites.png', 's-btn_favorite', );
$s-btn-favorite-selected-name: 's-btn_favorite_selected';
$s-btn-favorite-selected-x: 167px;
$s-btn-favorite-selected-y: 0px;
$s-btn-favorite-selected-offset-x: -167px;
$s-btn-favorite-selected-offset-y: 0px;
$s-btn-favorite-selected-width: 44px;
$s-btn-favorite-selected-height: 44px;
$s-btn-favorite-selected-total-width: 236px;
$s-btn-favorite-selected-total-height: 208px;
$s-btn-favorite-selected-image: '/assets/images/sprites.png';
$s-btn-favorite-selected: (167px, 0px, -167px, 0px, 44px, 44px, 236px, 208px, '/assets/images/sprites.png', 's-btn_favorite_selected', );
$s-btn-favorite-shadow-selected-name: 's-btn_favorite_shadow_selected';
$s-btn-favorite-shadow-selected-x: 167px;
$s-btn-favorite-shadow-selected-y: 49px;
$s-btn-favorite-shadow-selected-offset-x: -167px;
$s-btn-favorite-shadow-selected-offset-y: -49px;
$s-btn-favorite-shadow-selected-width: 44px;
$s-btn-favorite-shadow-selected-height: 44px;
$s-btn-favorite-shadow-selected-total-width: 236px;
$s-btn-favorite-shadow-selected-total-height: 208px;
$s-btn-favorite-shadow-selected-image: '/assets/images/sprites.png';
$s-btn-favorite-shadow-selected: (167px, 49px, -167px, -49px, 44px, 44px, 236px, 208px, '/assets/images/sprites.png', 's-btn_favorite_shadow_selected', );
$s-btn-info01-name: 's-btn_info01';
$s-btn-info01-x: 167px;
$s-btn-info01-y: 98px;
$s-btn-info01-offset-x: -167px;
$s-btn-info01-offset-y: -98px;
$s-btn-info01-width: 40px;
$s-btn-info01-height: 40px;
$s-btn-info01-total-width: 236px;
$s-btn-info01-total-height: 208px;
$s-btn-info01-image: '/assets/images/sprites.png';
$s-btn-info01: (167px, 98px, -167px, -98px, 40px, 40px, 236px, 208px, '/assets/images/sprites.png', 's-btn_info01', );
$s-btn-more-01-name: 's-btn_more_01';
$s-btn-more-01-x: 60px;
$s-btn-more-01-y: 193px;
$s-btn-more-01-offset-x: -60px;
$s-btn-more-01-offset-y: -193px;
$s-btn-more-01-width: 14px;
$s-btn-more-01-height: 14px;
$s-btn-more-01-total-width: 236px;
$s-btn-more-01-total-height: 208px;
$s-btn-more-01-image: '/assets/images/sprites.png';
$s-btn-more-01: (60px, 193px, -60px, -193px, 14px, 14px, 236px, 208px, '/assets/images/sprites.png', 's-btn_more_01', );
$s-btn-play01-name: 's-btn_play01';
$s-btn-play01-x: 69px;
$s-btn-play01-y: 75px;
$s-btn-play01-offset-x: -69px;
$s-btn-play01-offset-y: -75px;
$s-btn-play01-width: 81px;
$s-btn-play01-height: 29px;
$s-btn-play01-total-width: 236px;
$s-btn-play01-total-height: 208px;
$s-btn-play01-image: '/assets/images/sprites.png';
$s-btn-play01: (69px, 75px, -69px, -75px, 81px, 29px, 236px, 208px, '/assets/images/sprites.png', 's-btn_play01', );
$s-btn-up-01-name: 's-btn_up_01';
$s-btn-up-01-x: 110px;
$s-btn-up-01-y: 175px;
$s-btn-up-01-offset-x: -110px;
$s-btn-up-01-offset-y: -175px;
$s-btn-up-01-width: 9px;
$s-btn-up-01-height: 5px;
$s-btn-up-01-total-width: 236px;
$s-btn-up-01-total-height: 208px;
$s-btn-up-01-image: '/assets/images/sprites.png';
$s-btn-up-01: (110px, 175px, -110px, -175px, 9px, 5px, 236px, 208px, '/assets/images/sprites.png', 's-btn_up_01', );
$s-checkbox-all-name: 's-checkbox_all';
$s-checkbox-all-x: 216px;
$s-checkbox-all-y: 125px;
$s-checkbox-all-offset-x: -216px;
$s-checkbox-all-offset-y: -125px;
$s-checkbox-all-width: 18px;
$s-checkbox-all-height: 13px;
$s-checkbox-all-total-width: 236px;
$s-checkbox-all-total-height: 208px;
$s-checkbox-all-image: '/assets/images/sprites.png';
$s-checkbox-all: (216px, 125px, -216px, -125px, 18px, 13px, 236px, 208px, '/assets/images/sprites.png', 's-checkbox_all', );
$s-checkbox-all-checked-name: 's-checkbox_all_checked';
$s-checkbox-all-checked-x: 216px;
$s-checkbox-all-checked-y: 143px;
$s-checkbox-all-checked-offset-x: -216px;
$s-checkbox-all-checked-offset-y: -143px;
$s-checkbox-all-checked-width: 18px;
$s-checkbox-all-checked-height: 13px;
$s-checkbox-all-checked-total-width: 236px;
$s-checkbox-all-checked-total-height: 208px;
$s-checkbox-all-checked-image: '/assets/images/sprites.png';
$s-checkbox-all-checked: (216px, 143px, -216px, -143px, 18px, 13px, 236px, 208px, '/assets/images/sprites.png', 's-checkbox_all_checked', );
$s-checkbox-enterprise-name: 's-checkbox_enterprise';
$s-checkbox-enterprise-x: 216px;
$s-checkbox-enterprise-y: 89px;
$s-checkbox-enterprise-offset-x: -216px;
$s-checkbox-enterprise-offset-y: -89px;
$s-checkbox-enterprise-width: 18px;
$s-checkbox-enterprise-height: 13px;
$s-checkbox-enterprise-total-width: 236px;
$s-checkbox-enterprise-total-height: 208px;
$s-checkbox-enterprise-image: '/assets/images/sprites.png';
$s-checkbox-enterprise: (216px, 89px, -216px, -89px, 18px, 13px, 236px, 208px, '/assets/images/sprites.png', 's-checkbox_enterprise', );
$s-checkbox-enterprise-checked-name: 's-checkbox_enterprise_checked';
$s-checkbox-enterprise-checked-x: 216px;
$s-checkbox-enterprise-checked-y: 107px;
$s-checkbox-enterprise-checked-offset-x: -216px;
$s-checkbox-enterprise-checked-offset-y: -107px;
$s-checkbox-enterprise-checked-width: 18px;
$s-checkbox-enterprise-checked-height: 13px;
$s-checkbox-enterprise-checked-total-width: 236px;
$s-checkbox-enterprise-checked-total-height: 208px;
$s-checkbox-enterprise-checked-image: '/assets/images/sprites.png';
$s-checkbox-enterprise-checked: (216px, 107px, -216px, -107px, 18px, 13px, 236px, 208px, '/assets/images/sprites.png', 's-checkbox_enterprise_checked', );
$s-checkbox-gray-name: 's-checkbox_gray';
$s-checkbox-gray-x: 216px;
$s-checkbox-gray-y: 178px;
$s-checkbox-gray-offset-x: -216px;
$s-checkbox-gray-offset-y: -178px;
$s-checkbox-gray-width: 13px;
$s-checkbox-gray-height: 9px;
$s-checkbox-gray-total-width: 236px;
$s-checkbox-gray-total-height: 208px;
$s-checkbox-gray-image: '/assets/images/sprites.png';
$s-checkbox-gray: (216px, 178px, -216px, -178px, 13px, 9px, 236px, 208px, '/assets/images/sprites.png', 's-checkbox_gray', );
$s-checkbox-gray-checked-name: 's-checkbox_gray_checked';
$s-checkbox-gray-checked-x: 92px;
$s-checkbox-gray-checked-y: 175px;
$s-checkbox-gray-checked-offset-x: -92px;
$s-checkbox-gray-checked-offset-y: -175px;
$s-checkbox-gray-checked-width: 13px;
$s-checkbox-gray-checked-height: 9px;
$s-checkbox-gray-checked-total-width: 236px;
$s-checkbox-gray-checked-total-height: 208px;
$s-checkbox-gray-checked-image: '/assets/images/sprites.png';
$s-checkbox-gray-checked: (92px, 175px, -92px, -175px, 13px, 9px, 236px, 208px, '/assets/images/sprites.png', 's-checkbox_gray_checked', );
$s-flag-success-name: 's-flag_success';
$s-flag-success-x: 0px;
$s-flag-success-y: 75px;
$s-flag-success-offset-x: 0px;
$s-flag-success-offset-y: -75px;
$s-flag-success-width: 64px;
$s-flag-success-height: 64px;
$s-flag-success-total-width: 236px;
$s-flag-success-total-height: 208px;
$s-flag-success-image: '/assets/images/sprites.png';
$s-flag-success: (0px, 75px, 0px, -75px, 64px, 64px, 236px, 208px, '/assets/images/sprites.png', 's-flag_success', );
$s-icon-a-name: 's-icon_a';
$s-icon-a-x: 216px;
$s-icon-a-y: 0px;
$s-icon-a-offset-x: -216px;
$s-icon-a-offset-y: 0px;
$s-icon-a-width: 20px;
$s-icon-a-height: 20px;
$s-icon-a-total-width: 236px;
$s-icon-a-total-height: 208px;
$s-icon-a-image: '/assets/images/sprites.png';
$s-icon-a: (216px, 0px, -216px, 0px, 20px, 20px, 236px, 208px, '/assets/images/sprites.png', 's-icon_a', );
$s-icon-arrow01-name: 's-icon_arrow01';
$s-icon-arrow01-x: 98px;
$s-icon-arrow01-y: 193px;
$s-icon-arrow01-offset-x: -98px;
$s-icon-arrow01-offset-y: -193px;
$s-icon-arrow01-width: 8px;
$s-icon-arrow01-height: 14px;
$s-icon-arrow01-total-width: 236px;
$s-icon-arrow01-total-height: 208px;
$s-icon-arrow01-image: '/assets/images/sprites.png';
$s-icon-arrow01: (98px, 193px, -98px, -193px, 8px, 14px, 236px, 208px, '/assets/images/sprites.png', 's-icon_arrow01', );
$s-icon-company-name: 's-icon_company';
$s-icon-company-x: 40px;
$s-icon-company-y: 193px;
$s-icon-company-offset-x: -40px;
$s-icon-company-offset-y: -193px;
$s-icon-company-width: 15px;
$s-icon-company-height: 14px;
$s-icon-company-total-width: 236px;
$s-icon-company-total-height: 208px;
$s-icon-company-image: '/assets/images/sprites.png';
$s-icon-company: (40px, 193px, -40px, -193px, 15px, 14px, 236px, 208px, '/assets/images/sprites.png', 's-icon_company', );
$s-icon-deductions-name: 's-icon_deductions';
$s-icon-deductions-x: 156px;
$s-icon-deductions-y: 144px;
$s-icon-deductions-offset-x: -156px;
$s-icon-deductions-offset-y: -144px;
$s-icon-deductions-width: 26px;
$s-icon-deductions-height: 26px;
$s-icon-deductions-total-width: 236px;
$s-icon-deductions-total-height: 208px;
$s-icon-deductions-image: '/assets/images/sprites.png';
$s-icon-deductions: (156px, 144px, -156px, -144px, 26px, 26px, 236px, 208px, '/assets/images/sprites.png', 's-icon_deductions', );
$s-icon-executives-name: 's-icon_executives';
$s-icon-executives-x: 216px;
$s-icon-executives-y: 161px;
$s-icon-executives-offset-x: -216px;
$s-icon-executives-offset-y: -161px;
$s-icon-executives-width: 19px;
$s-icon-executives-height: 12px;
$s-icon-executives-total-width: 236px;
$s-icon-executives-total-height: 208px;
$s-icon-executives-image: '/assets/images/sprites.png';
$s-icon-executives: (216px, 161px, -216px, -161px, 19px, 12px, 236px, 208px, '/assets/images/sprites.png', 's-icon_executives', );
$s-icon-iks-name: 's-icon_iks';
$s-icon-iks-x: 20px;
$s-icon-iks-y: 193px;
$s-icon-iks-offset-x: -20px;
$s-icon-iks-offset-y: -193px;
$s-icon-iks-width: 15px;
$s-icon-iks-height: 15px;
$s-icon-iks-total-width: 236px;
$s-icon-iks-total-height: 208px;
$s-icon-iks-image: '/assets/images/sprites.png';
$s-icon-iks: (20px, 193px, -20px, -193px, 15px, 15px, 236px, 208px, '/assets/images/sprites.png', 's-icon_iks', );
$s-icon-iks-02-name: 's-icon_iks_02';
$s-icon-iks-02-x: 0px;
$s-icon-iks-02-y: 193px;
$s-icon-iks-02-offset-x: 0px;
$s-icon-iks-02-offset-y: -193px;
$s-icon-iks-02-width: 15px;
$s-icon-iks-02-height: 15px;
$s-icon-iks-02-total-width: 236px;
$s-icon-iks-02-total-height: 208px;
$s-icon-iks-02-image: '/assets/images/sprites.png';
$s-icon-iks-02: (0px, 193px, 0px, -193px, 15px, 15px, 236px, 208px, '/assets/images/sprites.png', 's-icon_iks_02', );
$s-icon-lead-name: 's-icon_lead';
$s-icon-lead-x: 133px;
$s-icon-lead-y: 109px;
$s-icon-lead-offset-x: -133px;
$s-icon-lead-offset-y: -109px;
$s-icon-lead-width: 26px;
$s-icon-lead-height: 26px;
$s-icon-lead-total-width: 236px;
$s-icon-lead-total-height: 208px;
$s-icon-lead-image: '/assets/images/sprites.png';
$s-icon-lead: (133px, 109px, -133px, -109px, 26px, 26px, 236px, 208px, '/assets/images/sprites.png', 's-icon_lead', );
$s-icon-message-01-name: 's-icon_message_01';
$s-icon-message-01-x: 49px;
$s-icon-message-01-y: 144px;
$s-icon-message-01-offset-x: -49px;
$s-icon-message-01-offset-y: -144px;
$s-icon-message-01-width: 38px;
$s-icon-message-01-height: 42px;
$s-icon-message-01-total-width: 236px;
$s-icon-message-01-total-height: 208px;
$s-icon-message-01-image: '/assets/images/sprites.png';
$s-icon-message-01: (49px, 144px, -49px, -144px, 38px, 42px, 236px, 208px, '/assets/images/sprites.png', 's-icon_message_01', );
$s-icon-none-name: 's-icon_none';
$s-icon-none-x: 0px;
$s-icon-none-y: 0px;
$s-icon-none-offset-x: 0px;
$s-icon-none-offset-y: 0px;
$s-icon-none-width: 80px;
$s-icon-none-height: 70px;
$s-icon-none-total-width: 236px;
$s-icon-none-total-height: 208px;
$s-icon-none-image: '/assets/images/sprites.png';
$s-icon-none: (0px, 0px, 0px, 0px, 80px, 70px, 236px, 208px, '/assets/images/sprites.png', 's-icon_none', );
$s-icon-none-like-name: 's-icon_none_like';
$s-icon-none-like-x: 85px;
$s-icon-none-like-y: 0px;
$s-icon-none-like-offset-x: -85px;
$s-icon-none-like-offset-y: 0px;
$s-icon-none-like-width: 77px;
$s-icon-none-like-height: 70px;
$s-icon-none-like-total-width: 236px;
$s-icon-none-like-total-height: 208px;
$s-icon-none-like-image: '/assets/images/sprites.png';
$s-icon-none-like: (85px, 0px, -85px, 0px, 77px, 70px, 236px, 208px, '/assets/images/sprites.png', 's-icon_none_like', );
$s-icon-q-name: 's-icon_q';
$s-icon-q-x: 187px;
$s-icon-q-y: 144px;
$s-icon-q-offset-x: -187px;
$s-icon-q-offset-y: -144px;
$s-icon-q-width: 20px;
$s-icon-q-height: 20px;
$s-icon-q-total-width: 236px;
$s-icon-q-total-height: 208px;
$s-icon-q-image: '/assets/images/sprites.png';
$s-icon-q: (187px, 144px, -187px, -144px, 20px, 20px, 236px, 208px, '/assets/images/sprites.png', 's-icon_q', );
$s-icon-yinc-name: 's-icon_yinc';
$s-icon-yinc-x: 216px;
$s-icon-yinc-y: 69px;
$s-icon-yinc-offset-x: -216px;
$s-icon-yinc-offset-y: -69px;
$s-icon-yinc-width: 17px;
$s-icon-yinc-height: 15px;
$s-icon-yinc-total-width: 236px;
$s-icon-yinc-total-height: 208px;
$s-icon-yinc-image: '/assets/images/sprites.png';
$s-icon-yinc: (216px, 69px, -216px, -69px, 17px, 15px, 236px, 208px, '/assets/images/sprites.png', 's-icon_yinc', );
$s-icon-yinc-02-name: 's-icon_yinc_02';
$s-icon-yinc-02-x: 216px;
$s-icon-yinc-02-y: 25px;
$s-icon-yinc-02-offset-x: -216px;
$s-icon-yinc-02-offset-y: -25px;
$s-icon-yinc-02-width: 19px;
$s-icon-yinc-02-height: 17px;
$s-icon-yinc-02-total-width: 236px;
$s-icon-yinc-02-total-height: 208px;
$s-icon-yinc-02-image: '/assets/images/sprites.png';
$s-icon-yinc-02: (216px, 25px, -216px, -25px, 19px, 17px, 236px, 208px, '/assets/images/sprites.png', 's-icon_yinc_02', );
$s-icon-yinc-03-name: 's-icon_yinc_03';
$s-icon-yinc-03-x: 216px;
$s-icon-yinc-03-y: 47px;
$s-icon-yinc-03-offset-x: -216px;
$s-icon-yinc-03-offset-y: -47px;
$s-icon-yinc-03-width: 19px;
$s-icon-yinc-03-height: 17px;
$s-icon-yinc-03-total-width: 236px;
$s-icon-yinc-03-total-height: 208px;
$s-icon-yinc-03-image: '/assets/images/sprites.png';
$s-icon-yinc-03: (216px, 47px, -216px, -47px, 19px, 17px, 236px, 208px, '/assets/images/sprites.png', 's-icon_yinc_03', );
$s-bg-arrow-01-2x-name: 's-bg_arrow_01@2x';
$s-bg-arrow-01-2x-x: 276px;
$s-bg-arrow-01-2x-y: 350px;
$s-bg-arrow-01-2x-offset-x: -276px;
$s-bg-arrow-01-2x-offset-y: -350px;
$s-bg-arrow-01-2x-width: 16px;
$s-bg-arrow-01-2x-height: 10px;
$s-bg-arrow-01-2x-total-width: 472px;
$s-bg-arrow-01-2x-total-height: 416px;
$s-bg-arrow-01-2x-image: '/assets/images/sprites@2x.png';
$s-bg-arrow-01-2x: (276px, 350px, -276px, -350px, 16px, 10px, 472px, 416px, '/assets/images/sprites@2x.png', 's-bg_arrow_01@2x', );
$s-bg-flag01-2x-name: 's-bg_flag01@2x';
$s-bg-flag01-2x-x: 184px;
$s-bg-flag01-2x-y: 288px;
$s-bg-flag01-2x-offset-x: -184px;
$s-bg-flag01-2x-offset-y: -288px;
$s-bg-flag01-2x-width: 118px;
$s-bg-flag01-2x-height: 52px;
$s-bg-flag01-2x-total-width: 472px;
$s-bg-flag01-2x-total-height: 416px;
$s-bg-flag01-2x-image: '/assets/images/sprites@2x.png';
$s-bg-flag01-2x: (184px, 288px, -184px, -288px, 118px, 52px, 472px, 416px, '/assets/images/sprites@2x.png', 's-bg_flag01@2x', );
$s-bg-flag02-2x-name: 's-bg_flag02@2x';
$s-bg-flag02-2x-x: 138px;
$s-bg-flag02-2x-y: 218px;
$s-bg-flag02-2x-offset-x: -138px;
$s-bg-flag02-2x-offset-y: -218px;
$s-bg-flag02-2x-width: 118px;
$s-bg-flag02-2x-height: 52px;
$s-bg-flag02-2x-total-width: 472px;
$s-bg-flag02-2x-total-height: 416px;
$s-bg-flag02-2x-image: '/assets/images/sprites@2x.png';
$s-bg-flag02-2x: (138px, 218px, -138px, -218px, 118px, 52px, 472px, 416px, '/assets/images/sprites@2x.png', 's-bg_flag02@2x', );
$s-btn-close-2x-name: 's-btn_close@2x';
$s-btn-close-2x-x: 158px;
$s-btn-close-2x-y: 386px;
$s-btn-close-2x-offset-x: -158px;
$s-btn-close-2x-offset-y: -386px;
$s-btn-close-2x-width: 28px;
$s-btn-close-2x-height: 28px;
$s-btn-close-2x-total-width: 472px;
$s-btn-close-2x-total-height: 416px;
$s-btn-close-2x-image: '/assets/images/sprites@2x.png';
$s-btn-close-2x: (158px, 386px, -158px, -386px, 28px, 28px, 472px, 416px, '/assets/images/sprites@2x.png', 's-btn_close@2x', );
$s-btn-down-01-2x-name: 's-btn_down_01@2x';
$s-btn-down-01-2x-x: 248px;
$s-btn-down-01-2x-y: 350px;
$s-btn-down-01-2x-offset-x: -248px;
$s-btn-down-01-2x-offset-y: -350px;
$s-btn-down-01-2x-width: 18px;
$s-btn-down-01-2x-height: 10px;
$s-btn-down-01-2x-total-width: 472px;
$s-btn-down-01-2x-total-height: 416px;
$s-btn-down-01-2x-image: '/assets/images/sprites@2x.png';
$s-btn-down-01-2x: (248px, 350px, -248px, -350px, 18px, 10px, 472px, 416px, '/assets/images/sprites@2x.png', 's-btn_down_01@2x', );
$s-btn-favorite-2x-name: 's-btn_favorite@2x';
$s-btn-favorite-2x-x: 0px;
$s-btn-favorite-2x-y: 288px;
$s-btn-favorite-2x-offset-x: 0px;
$s-btn-favorite-2x-offset-y: -288px;
$s-btn-favorite-2x-width: 88px;
$s-btn-favorite-2x-height: 88px;
$s-btn-favorite-2x-total-width: 472px;
$s-btn-favorite-2x-total-height: 416px;
$s-btn-favorite-2x-image: '/assets/images/sprites@2x.png';
$s-btn-favorite-2x: (0px, 288px, 0px, -288px, 88px, 88px, 472px, 416px, '/assets/images/sprites@2x.png', 's-btn_favorite@2x', );
$s-btn-favorite-selected-2x-name: 's-btn_favorite_selected@2x';
$s-btn-favorite-selected-2x-x: 334px;
$s-btn-favorite-selected-2x-y: 0px;
$s-btn-favorite-selected-2x-offset-x: -334px;
$s-btn-favorite-selected-2x-offset-y: 0px;
$s-btn-favorite-selected-2x-width: 88px;
$s-btn-favorite-selected-2x-height: 88px;
$s-btn-favorite-selected-2x-total-width: 472px;
$s-btn-favorite-selected-2x-total-height: 416px;
$s-btn-favorite-selected-2x-image: '/assets/images/sprites@2x.png';
$s-btn-favorite-selected-2x: (334px, 0px, -334px, 0px, 88px, 88px, 472px, 416px, '/assets/images/sprites@2x.png', 's-btn_favorite_selected@2x', );
$s-btn-favorite-shadow-selected-2x-name: 's-btn_favorite_shadow_selected@2x';
$s-btn-favorite-shadow-selected-2x-x: 334px;
$s-btn-favorite-shadow-selected-2x-y: 98px;
$s-btn-favorite-shadow-selected-2x-offset-x: -334px;
$s-btn-favorite-shadow-selected-2x-offset-y: -98px;
$s-btn-favorite-shadow-selected-2x-width: 88px;
$s-btn-favorite-shadow-selected-2x-height: 88px;
$s-btn-favorite-shadow-selected-2x-total-width: 472px;
$s-btn-favorite-shadow-selected-2x-total-height: 416px;
$s-btn-favorite-shadow-selected-2x-image: '/assets/images/sprites@2x.png';
$s-btn-favorite-shadow-selected-2x: (334px, 98px, -334px, -98px, 88px, 88px, 472px, 416px, '/assets/images/sprites@2x.png', 's-btn_favorite_shadow_selected@2x', );
$s-btn-info01-2x-name: 's-btn_info01@2x';
$s-btn-info01-2x-x: 334px;
$s-btn-info01-2x-y: 196px;
$s-btn-info01-2x-offset-x: -334px;
$s-btn-info01-2x-offset-y: -196px;
$s-btn-info01-2x-width: 80px;
$s-btn-info01-2x-height: 80px;
$s-btn-info01-2x-total-width: 472px;
$s-btn-info01-2x-total-height: 416px;
$s-btn-info01-2x-image: '/assets/images/sprites@2x.png';
$s-btn-info01-2x: (334px, 196px, -334px, -196px, 80px, 80px, 472px, 416px, '/assets/images/sprites@2x.png', 's-btn_info01@2x', );
$s-btn-more-01-2x-name: 's-btn_more_01@2x';
$s-btn-more-01-2x-x: 120px;
$s-btn-more-01-2x-y: 386px;
$s-btn-more-01-2x-offset-x: -120px;
$s-btn-more-01-2x-offset-y: -386px;
$s-btn-more-01-2x-width: 28px;
$s-btn-more-01-2x-height: 28px;
$s-btn-more-01-2x-total-width: 472px;
$s-btn-more-01-2x-total-height: 416px;
$s-btn-more-01-2x-image: '/assets/images/sprites@2x.png';
$s-btn-more-01-2x: (120px, 386px, -120px, -386px, 28px, 28px, 472px, 416px, '/assets/images/sprites@2x.png', 's-btn_more_01@2x', );
$s-btn-play01-2x-name: 's-btn_play01@2x';
$s-btn-play01-2x-x: 138px;
$s-btn-play01-2x-y: 150px;
$s-btn-play01-2x-offset-x: -138px;
$s-btn-play01-2x-offset-y: -150px;
$s-btn-play01-2x-width: 162px;
$s-btn-play01-2x-height: 58px;
$s-btn-play01-2x-total-width: 472px;
$s-btn-play01-2x-total-height: 416px;
$s-btn-play01-2x-image: '/assets/images/sprites@2x.png';
$s-btn-play01-2x: (138px, 150px, -138px, -150px, 162px, 58px, 472px, 416px, '/assets/images/sprites@2x.png', 's-btn_play01@2x', );
$s-btn-up-01-2x-name: 's-btn_up_01@2x';
$s-btn-up-01-2x-x: 220px;
$s-btn-up-01-2x-y: 350px;
$s-btn-up-01-2x-offset-x: -220px;
$s-btn-up-01-2x-offset-y: -350px;
$s-btn-up-01-2x-width: 18px;
$s-btn-up-01-2x-height: 10px;
$s-btn-up-01-2x-total-width: 472px;
$s-btn-up-01-2x-total-height: 416px;
$s-btn-up-01-2x-image: '/assets/images/sprites@2x.png';
$s-btn-up-01-2x: (220px, 350px, -220px, -350px, 18px, 10px, 472px, 416px, '/assets/images/sprites@2x.png', 's-btn_up_01@2x', );
$s-checkbox-all-2x-name: 's-checkbox_all@2x';
$s-checkbox-all-2x-x: 432px;
$s-checkbox-all-2x-y: 250px;
$s-checkbox-all-2x-offset-x: -432px;
$s-checkbox-all-2x-offset-y: -250px;
$s-checkbox-all-2x-width: 36px;
$s-checkbox-all-2x-height: 26px;
$s-checkbox-all-2x-total-width: 472px;
$s-checkbox-all-2x-total-height: 416px;
$s-checkbox-all-2x-image: '/assets/images/sprites@2x.png';
$s-checkbox-all-2x: (432px, 250px, -432px, -250px, 36px, 26px, 472px, 416px, '/assets/images/sprites@2x.png', 's-checkbox_all@2x', );
$s-checkbox-all-checked-2x-name: 's-checkbox_all_checked@2x';
$s-checkbox-all-checked-2x-x: 432px;
$s-checkbox-all-checked-2x-y: 286px;
$s-checkbox-all-checked-2x-offset-x: -432px;
$s-checkbox-all-checked-2x-offset-y: -286px;
$s-checkbox-all-checked-2x-width: 36px;
$s-checkbox-all-checked-2x-height: 26px;
$s-checkbox-all-checked-2x-total-width: 472px;
$s-checkbox-all-checked-2x-total-height: 416px;
$s-checkbox-all-checked-2x-image: '/assets/images/sprites@2x.png';
$s-checkbox-all-checked-2x: (432px, 286px, -432px, -286px, 36px, 26px, 472px, 416px, '/assets/images/sprites@2x.png', 's-checkbox_all_checked@2x', );
$s-checkbox-enterprise-2x-name: 's-checkbox_enterprise@2x';
$s-checkbox-enterprise-2x-x: 432px;
$s-checkbox-enterprise-2x-y: 178px;
$s-checkbox-enterprise-2x-offset-x: -432px;
$s-checkbox-enterprise-2x-offset-y: -178px;
$s-checkbox-enterprise-2x-width: 36px;
$s-checkbox-enterprise-2x-height: 26px;
$s-checkbox-enterprise-2x-total-width: 472px;
$s-checkbox-enterprise-2x-total-height: 416px;
$s-checkbox-enterprise-2x-image: '/assets/images/sprites@2x.png';
$s-checkbox-enterprise-2x: (432px, 178px, -432px, -178px, 36px, 26px, 472px, 416px, '/assets/images/sprites@2x.png', 's-checkbox_enterprise@2x', );
$s-checkbox-enterprise-checked-2x-name: 's-checkbox_enterprise_checked@2x';
$s-checkbox-enterprise-checked-2x-x: 432px;
$s-checkbox-enterprise-checked-2x-y: 214px;
$s-checkbox-enterprise-checked-2x-offset-x: -432px;
$s-checkbox-enterprise-checked-2x-offset-y: -214px;
$s-checkbox-enterprise-checked-2x-width: 36px;
$s-checkbox-enterprise-checked-2x-height: 26px;
$s-checkbox-enterprise-checked-2x-total-width: 472px;
$s-checkbox-enterprise-checked-2x-total-height: 416px;
$s-checkbox-enterprise-checked-2x-image: '/assets/images/sprites@2x.png';
$s-checkbox-enterprise-checked-2x: (432px, 214px, -432px, -214px, 36px, 26px, 472px, 416px, '/assets/images/sprites@2x.png', 's-checkbox_enterprise_checked@2x', );
$s-checkbox-gray-2x-name: 's-checkbox_gray@2x';
$s-checkbox-gray-2x-x: 432px;
$s-checkbox-gray-2x-y: 356px;
$s-checkbox-gray-2x-offset-x: -432px;
$s-checkbox-gray-2x-offset-y: -356px;
$s-checkbox-gray-2x-width: 26px;
$s-checkbox-gray-2x-height: 18px;
$s-checkbox-gray-2x-total-width: 472px;
$s-checkbox-gray-2x-total-height: 416px;
$s-checkbox-gray-2x-image: '/assets/images/sprites@2x.png';
$s-checkbox-gray-2x: (432px, 356px, -432px, -356px, 26px, 18px, 472px, 416px, '/assets/images/sprites@2x.png', 's-checkbox_gray@2x', );
$s-checkbox-gray-checked-2x-name: 's-checkbox_gray_checked@2x';
$s-checkbox-gray-checked-2x-x: 184px;
$s-checkbox-gray-checked-2x-y: 350px;
$s-checkbox-gray-checked-2x-offset-x: -184px;
$s-checkbox-gray-checked-2x-offset-y: -350px;
$s-checkbox-gray-checked-2x-width: 26px;
$s-checkbox-gray-checked-2x-height: 18px;
$s-checkbox-gray-checked-2x-total-width: 472px;
$s-checkbox-gray-checked-2x-total-height: 416px;
$s-checkbox-gray-checked-2x-image: '/assets/images/sprites@2x.png';
$s-checkbox-gray-checked-2x: (184px, 350px, -184px, -350px, 26px, 18px, 472px, 416px, '/assets/images/sprites@2x.png', 's-checkbox_gray_checked@2x', );
$s-flag-success-2x-name: 's-flag_success@2x';
$s-flag-success-2x-x: 0px;
$s-flag-success-2x-y: 150px;
$s-flag-success-2x-offset-x: 0px;
$s-flag-success-2x-offset-y: -150px;
$s-flag-success-2x-width: 128px;
$s-flag-success-2x-height: 128px;
$s-flag-success-2x-total-width: 472px;
$s-flag-success-2x-total-height: 416px;
$s-flag-success-2x-image: '/assets/images/sprites@2x.png';
$s-flag-success-2x: (0px, 150px, 0px, -150px, 128px, 128px, 472px, 416px, '/assets/images/sprites@2x.png', 's-flag_success@2x', );
$s-icon-a-2x-name: 's-icon_a@2x';
$s-icon-a-2x-x: 432px;
$s-icon-a-2x-y: 0px;
$s-icon-a-2x-offset-x: -432px;
$s-icon-a-2x-offset-y: 0px;
$s-icon-a-2x-width: 40px;
$s-icon-a-2x-height: 40px;
$s-icon-a-2x-total-width: 472px;
$s-icon-a-2x-total-height: 416px;
$s-icon-a-2x-image: '/assets/images/sprites@2x.png';
$s-icon-a-2x: (432px, 0px, -432px, 0px, 40px, 40px, 472px, 416px, '/assets/images/sprites@2x.png', 's-icon_a@2x', );
$s-icon-arrow01-2x-name: 's-icon_arrow01@2x';
$s-icon-arrow01-2x-x: 196px;
$s-icon-arrow01-2x-y: 386px;
$s-icon-arrow01-2x-offset-x: -196px;
$s-icon-arrow01-2x-offset-y: -386px;
$s-icon-arrow01-2x-width: 16px;
$s-icon-arrow01-2x-height: 28px;
$s-icon-arrow01-2x-total-width: 472px;
$s-icon-arrow01-2x-total-height: 416px;
$s-icon-arrow01-2x-image: '/assets/images/sprites@2x.png';
$s-icon-arrow01-2x: (196px, 386px, -196px, -386px, 16px, 28px, 472px, 416px, '/assets/images/sprites@2x.png', 's-icon_arrow01@2x', );
$s-icon-company-2x-name: 's-icon_company@2x';
$s-icon-company-2x-x: 80px;
$s-icon-company-2x-y: 386px;
$s-icon-company-2x-offset-x: -80px;
$s-icon-company-2x-offset-y: -386px;
$s-icon-company-2x-width: 30px;
$s-icon-company-2x-height: 28px;
$s-icon-company-2x-total-width: 472px;
$s-icon-company-2x-total-height: 416px;
$s-icon-company-2x-image: '/assets/images/sprites@2x.png';
$s-icon-company-2x: (80px, 386px, -80px, -386px, 30px, 28px, 472px, 416px, '/assets/images/sprites@2x.png', 's-icon_company@2x', );
$s-icon-deductions-2x-name: 's-icon_deductions@2x';
$s-icon-deductions-2x-x: 312px;
$s-icon-deductions-2x-y: 288px;
$s-icon-deductions-2x-offset-x: -312px;
$s-icon-deductions-2x-offset-y: -288px;
$s-icon-deductions-2x-width: 52px;
$s-icon-deductions-2x-height: 52px;
$s-icon-deductions-2x-total-width: 472px;
$s-icon-deductions-2x-total-height: 416px;
$s-icon-deductions-2x-image: '/assets/images/sprites@2x.png';
$s-icon-deductions-2x: (312px, 288px, -312px, -288px, 52px, 52px, 472px, 416px, '/assets/images/sprites@2x.png', 's-icon_deductions@2x', );
$s-icon-executives-2x-name: 's-icon_executives@2x';
$s-icon-executives-2x-x: 432px;
$s-icon-executives-2x-y: 322px;
$s-icon-executives-2x-offset-x: -432px;
$s-icon-executives-2x-offset-y: -322px;
$s-icon-executives-2x-width: 38px;
$s-icon-executives-2x-height: 24px;
$s-icon-executives-2x-total-width: 472px;
$s-icon-executives-2x-total-height: 416px;
$s-icon-executives-2x-image: '/assets/images/sprites@2x.png';
$s-icon-executives-2x: (432px, 322px, -432px, -322px, 38px, 24px, 472px, 416px, '/assets/images/sprites@2x.png', 's-icon_executives@2x', );
$s-icon-iks-2x-name: 's-icon_iks@2x';
$s-icon-iks-2x-x: 40px;
$s-icon-iks-2x-y: 386px;
$s-icon-iks-2x-offset-x: -40px;
$s-icon-iks-2x-offset-y: -386px;
$s-icon-iks-2x-width: 30px;
$s-icon-iks-2x-height: 30px;
$s-icon-iks-2x-total-width: 472px;
$s-icon-iks-2x-total-height: 416px;
$s-icon-iks-2x-image: '/assets/images/sprites@2x.png';
$s-icon-iks-2x: (40px, 386px, -40px, -386px, 30px, 30px, 472px, 416px, '/assets/images/sprites@2x.png', 's-icon_iks@2x', );
$s-icon-iks-02-2x-name: 's-icon_iks_02@2x';
$s-icon-iks-02-2x-x: 0px;
$s-icon-iks-02-2x-y: 386px;
$s-icon-iks-02-2x-offset-x: 0px;
$s-icon-iks-02-2x-offset-y: -386px;
$s-icon-iks-02-2x-width: 30px;
$s-icon-iks-02-2x-height: 30px;
$s-icon-iks-02-2x-total-width: 472px;
$s-icon-iks-02-2x-total-height: 416px;
$s-icon-iks-02-2x-image: '/assets/images/sprites@2x.png';
$s-icon-iks-02-2x: (0px, 386px, 0px, -386px, 30px, 30px, 472px, 416px, '/assets/images/sprites@2x.png', 's-icon_iks_02@2x', );
$s-icon-lead-2x-name: 's-icon_lead@2x';
$s-icon-lead-2x-x: 266px;
$s-icon-lead-2x-y: 218px;
$s-icon-lead-2x-offset-x: -266px;
$s-icon-lead-2x-offset-y: -218px;
$s-icon-lead-2x-width: 52px;
$s-icon-lead-2x-height: 52px;
$s-icon-lead-2x-total-width: 472px;
$s-icon-lead-2x-total-height: 416px;
$s-icon-lead-2x-image: '/assets/images/sprites@2x.png';
$s-icon-lead-2x: (266px, 218px, -266px, -218px, 52px, 52px, 472px, 416px, '/assets/images/sprites@2x.png', 's-icon_lead@2x', );
$s-icon-message-01-2x-name: 's-icon_message_01@2x';
$s-icon-message-01-2x-x: 98px;
$s-icon-message-01-2x-y: 288px;
$s-icon-message-01-2x-offset-x: -98px;
$s-icon-message-01-2x-offset-y: -288px;
$s-icon-message-01-2x-width: 76px;
$s-icon-message-01-2x-height: 84px;
$s-icon-message-01-2x-total-width: 472px;
$s-icon-message-01-2x-total-height: 416px;
$s-icon-message-01-2x-image: '/assets/images/sprites@2x.png';
$s-icon-message-01-2x: (98px, 288px, -98px, -288px, 76px, 84px, 472px, 416px, '/assets/images/sprites@2x.png', 's-icon_message_01@2x', );
$s-icon-none-2x-name: 's-icon_none@2x';
$s-icon-none-2x-x: 0px;
$s-icon-none-2x-y: 0px;
$s-icon-none-2x-offset-x: 0px;
$s-icon-none-2x-offset-y: 0px;
$s-icon-none-2x-width: 160px;
$s-icon-none-2x-height: 140px;
$s-icon-none-2x-total-width: 472px;
$s-icon-none-2x-total-height: 416px;
$s-icon-none-2x-image: '/assets/images/sprites@2x.png';
$s-icon-none-2x: (0px, 0px, 0px, 0px, 160px, 140px, 472px, 416px, '/assets/images/sprites@2x.png', 's-icon_none@2x', );
$s-icon-none-like-2x-name: 's-icon_none_like@2x';
$s-icon-none-like-2x-x: 170px;
$s-icon-none-like-2x-y: 0px;
$s-icon-none-like-2x-offset-x: -170px;
$s-icon-none-like-2x-offset-y: 0px;
$s-icon-none-like-2x-width: 154px;
$s-icon-none-like-2x-height: 140px;
$s-icon-none-like-2x-total-width: 472px;
$s-icon-none-like-2x-total-height: 416px;
$s-icon-none-like-2x-image: '/assets/images/sprites@2x.png';
$s-icon-none-like-2x: (170px, 0px, -170px, 0px, 154px, 140px, 472px, 416px, '/assets/images/sprites@2x.png', 's-icon_none_like@2x', );
$s-icon-q-2x-name: 's-icon_q@2x';
$s-icon-q-2x-x: 374px;
$s-icon-q-2x-y: 288px;
$s-icon-q-2x-offset-x: -374px;
$s-icon-q-2x-offset-y: -288px;
$s-icon-q-2x-width: 40px;
$s-icon-q-2x-height: 40px;
$s-icon-q-2x-total-width: 472px;
$s-icon-q-2x-total-height: 416px;
$s-icon-q-2x-image: '/assets/images/sprites@2x.png';
$s-icon-q-2x: (374px, 288px, -374px, -288px, 40px, 40px, 472px, 416px, '/assets/images/sprites@2x.png', 's-icon_q@2x', );
$s-icon-yinc-2x-name: 's-icon_yinc@2x';
$s-icon-yinc-2x-x: 432px;
$s-icon-yinc-2x-y: 138px;
$s-icon-yinc-2x-offset-x: -432px;
$s-icon-yinc-2x-offset-y: -138px;
$s-icon-yinc-2x-width: 34px;
$s-icon-yinc-2x-height: 30px;
$s-icon-yinc-2x-total-width: 472px;
$s-icon-yinc-2x-total-height: 416px;
$s-icon-yinc-2x-image: '/assets/images/sprites@2x.png';
$s-icon-yinc-2x: (432px, 138px, -432px, -138px, 34px, 30px, 472px, 416px, '/assets/images/sprites@2x.png', 's-icon_yinc@2x', );
$s-icon-yinc-02-2x-name: 's-icon_yinc_02@2x';
$s-icon-yinc-02-2x-x: 432px;
$s-icon-yinc-02-2x-y: 50px;
$s-icon-yinc-02-2x-offset-x: -432px;
$s-icon-yinc-02-2x-offset-y: -50px;
$s-icon-yinc-02-2x-width: 38px;
$s-icon-yinc-02-2x-height: 34px;
$s-icon-yinc-02-2x-total-width: 472px;
$s-icon-yinc-02-2x-total-height: 416px;
$s-icon-yinc-02-2x-image: '/assets/images/sprites@2x.png';
$s-icon-yinc-02-2x: (432px, 50px, -432px, -50px, 38px, 34px, 472px, 416px, '/assets/images/sprites@2x.png', 's-icon_yinc_02@2x', );
$s-icon-yinc-03-2x-name: 's-icon_yinc_03@2x';
$s-icon-yinc-03-2x-x: 432px;
$s-icon-yinc-03-2x-y: 94px;
$s-icon-yinc-03-2x-offset-x: -432px;
$s-icon-yinc-03-2x-offset-y: -94px;
$s-icon-yinc-03-2x-width: 38px;
$s-icon-yinc-03-2x-height: 34px;
$s-icon-yinc-03-2x-total-width: 472px;
$s-icon-yinc-03-2x-total-height: 416px;
$s-icon-yinc-03-2x-image: '/assets/images/sprites@2x.png';
$s-icon-yinc-03-2x: (432px, 94px, -432px, -94px, 38px, 34px, 472px, 416px, '/assets/images/sprites@2x.png', 's-icon_yinc_03@2x', );
$spritesheet-width: 236px;
$spritesheet-height: 208px;
$spritesheet-image: '/assets/images/sprites.png';
$spritesheet-sprites: ($s-bg-arrow-01, $s-bg-flag01, $s-bg-flag02, $s-btn-close, $s-btn-down-01, $s-btn-favorite, $s-btn-favorite-selected, $s-btn-favorite-shadow-selected, $s-btn-info01, $s-btn-more-01, $s-btn-play01, $s-btn-up-01, $s-checkbox-all, $s-checkbox-all-checked, $s-checkbox-enterprise, $s-checkbox-enterprise-checked, $s-checkbox-gray, $s-checkbox-gray-checked, $s-flag-success, $s-icon-a, $s-icon-arrow01, $s-icon-company, $s-icon-deductions, $s-icon-executives, $s-icon-iks, $s-icon-iks-02, $s-icon-lead, $s-icon-message-01, $s-icon-none, $s-icon-none-like, $s-icon-q, $s-icon-yinc, $s-icon-yinc-02, $s-icon-yinc-03, );
$spritesheet: (236px, 208px, '/assets/images/sprites.png', $spritesheet-sprites, );
$retina-spritesheet-width: 472px;
$retina-spritesheet-height: 416px;
$retina-spritesheet-image: '/assets/images/sprites@2x.png';
$retina-spritesheet-sprites: ($s-bg-arrow-01-2x, $s-bg-flag01-2x, $s-bg-flag02-2x, $s-btn-close-2x, $s-btn-down-01-2x, $s-btn-favorite-2x, $s-btn-favorite-selected-2x, $s-btn-favorite-shadow-selected-2x, $s-btn-info01-2x, $s-btn-more-01-2x, $s-btn-play01-2x, $s-btn-up-01-2x, $s-checkbox-all-2x, $s-checkbox-all-checked-2x, $s-checkbox-enterprise-2x, $s-checkbox-enterprise-checked-2x, $s-checkbox-gray-2x, $s-checkbox-gray-checked-2x, $s-flag-success-2x, $s-icon-a-2x, $s-icon-arrow01-2x, $s-icon-company-2x, $s-icon-deductions-2x, $s-icon-executives-2x, $s-icon-iks-2x, $s-icon-iks-02-2x, $s-icon-lead-2x, $s-icon-message-01-2x, $s-icon-none-2x, $s-icon-none-like-2x, $s-icon-q-2x, $s-icon-yinc-2x, $s-icon-yinc-02-2x, $s-icon-yinc-03-2x, );
$retina-spritesheet: (472px, 416px, '/assets/images/sprites@2x.png', $retina-spritesheet-sprites, );

/*
These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.

The list formatted variables are intended for mixins like `retina-sprite` and `retina-sprites`.
*/
$s-bg-arrow-01-group-name: 's-bg_arrow_01';
$s-bg-arrow-01-group: ('s-bg_arrow_01', $s-bg-arrow-01, $s-bg-arrow-01-2x, );
$s-bg-flag01-group-name: 's-bg_flag01';
$s-bg-flag01-group: ('s-bg_flag01', $s-bg-flag01, $s-bg-flag01-2x, );
$s-bg-flag02-group-name: 's-bg_flag02';
$s-bg-flag02-group: ('s-bg_flag02', $s-bg-flag02, $s-bg-flag02-2x, );
$s-btn-close-group-name: 's-btn_close';
$s-btn-close-group: ('s-btn_close', $s-btn-close, $s-btn-close-2x, );
$s-btn-down-01-group-name: 's-btn_down_01';
$s-btn-down-01-group: ('s-btn_down_01', $s-btn-down-01, $s-btn-down-01-2x, );
$s-btn-favorite-group-name: 's-btn_favorite';
$s-btn-favorite-group: ('s-btn_favorite', $s-btn-favorite, $s-btn-favorite-2x, );
$s-btn-favorite-selected-group-name: 's-btn_favorite_selected';
$s-btn-favorite-selected-group: ('s-btn_favorite_selected', $s-btn-favorite-selected, $s-btn-favorite-selected-2x, );
$s-btn-favorite-shadow-selected-group-name: 's-btn_favorite_shadow_selected';
$s-btn-favorite-shadow-selected-group: ('s-btn_favorite_shadow_selected', $s-btn-favorite-shadow-selected, $s-btn-favorite-shadow-selected-2x, );
$s-btn-info01-group-name: 's-btn_info01';
$s-btn-info01-group: ('s-btn_info01', $s-btn-info01, $s-btn-info01-2x, );
$s-btn-more-01-group-name: 's-btn_more_01';
$s-btn-more-01-group: ('s-btn_more_01', $s-btn-more-01, $s-btn-more-01-2x, );
$s-btn-play01-group-name: 's-btn_play01';
$s-btn-play01-group: ('s-btn_play01', $s-btn-play01, $s-btn-play01-2x, );
$s-btn-up-01-group-name: 's-btn_up_01';
$s-btn-up-01-group: ('s-btn_up_01', $s-btn-up-01, $s-btn-up-01-2x, );
$s-checkbox-all-group-name: 's-checkbox_all';
$s-checkbox-all-group: ('s-checkbox_all', $s-checkbox-all, $s-checkbox-all-2x, );
$s-checkbox-all-checked-group-name: 's-checkbox_all_checked';
$s-checkbox-all-checked-group: ('s-checkbox_all_checked', $s-checkbox-all-checked, $s-checkbox-all-checked-2x, );
$s-checkbox-enterprise-group-name: 's-checkbox_enterprise';
$s-checkbox-enterprise-group: ('s-checkbox_enterprise', $s-checkbox-enterprise, $s-checkbox-enterprise-2x, );
$s-checkbox-enterprise-checked-group-name: 's-checkbox_enterprise_checked';
$s-checkbox-enterprise-checked-group: ('s-checkbox_enterprise_checked', $s-checkbox-enterprise-checked, $s-checkbox-enterprise-checked-2x, );
$s-checkbox-gray-group-name: 's-checkbox_gray';
$s-checkbox-gray-group: ('s-checkbox_gray', $s-checkbox-gray, $s-checkbox-gray-2x, );
$s-checkbox-gray-checked-group-name: 's-checkbox_gray_checked';
$s-checkbox-gray-checked-group: ('s-checkbox_gray_checked', $s-checkbox-gray-checked, $s-checkbox-gray-checked-2x, );
$s-flag-success-group-name: 's-flag_success';
$s-flag-success-group: ('s-flag_success', $s-flag-success, $s-flag-success-2x, );
$s-icon-a-group-name: 's-icon_a';
$s-icon-a-group: ('s-icon_a', $s-icon-a, $s-icon-a-2x, );
$s-icon-arrow01-group-name: 's-icon_arrow01';
$s-icon-arrow01-group: ('s-icon_arrow01', $s-icon-arrow01, $s-icon-arrow01-2x, );
$s-icon-company-group-name: 's-icon_company';
$s-icon-company-group: ('s-icon_company', $s-icon-company, $s-icon-company-2x, );
$s-icon-deductions-group-name: 's-icon_deductions';
$s-icon-deductions-group: ('s-icon_deductions', $s-icon-deductions, $s-icon-deductions-2x, );
$s-icon-executives-group-name: 's-icon_executives';
$s-icon-executives-group: ('s-icon_executives', $s-icon-executives, $s-icon-executives-2x, );
$s-icon-iks-group-name: 's-icon_iks';
$s-icon-iks-group: ('s-icon_iks', $s-icon-iks, $s-icon-iks-2x, );
$s-icon-iks-02-group-name: 's-icon_iks_02';
$s-icon-iks-02-group: ('s-icon_iks_02', $s-icon-iks-02, $s-icon-iks-02-2x, );
$s-icon-lead-group-name: 's-icon_lead';
$s-icon-lead-group: ('s-icon_lead', $s-icon-lead, $s-icon-lead-2x, );
$s-icon-message-01-group-name: 's-icon_message_01';
$s-icon-message-01-group: ('s-icon_message_01', $s-icon-message-01, $s-icon-message-01-2x, );
$s-icon-none-group-name: 's-icon_none';
$s-icon-none-group: ('s-icon_none', $s-icon-none, $s-icon-none-2x, );
$s-icon-none-like-group-name: 's-icon_none_like';
$s-icon-none-like-group: ('s-icon_none_like', $s-icon-none-like, $s-icon-none-like-2x, );
$s-icon-q-group-name: 's-icon_q';
$s-icon-q-group: ('s-icon_q', $s-icon-q, $s-icon-q-2x, );
$s-icon-yinc-group-name: 's-icon_yinc';
$s-icon-yinc-group: ('s-icon_yinc', $s-icon-yinc, $s-icon-yinc-2x, );
$s-icon-yinc-02-group-name: 's-icon_yinc_02';
$s-icon-yinc-02-group: ('s-icon_yinc_02', $s-icon-yinc-02, $s-icon-yinc-02-2x, );
$s-icon-yinc-03-group-name: 's-icon_yinc_03';
$s-icon-yinc-03-group: ('s-icon_yinc_03', $s-icon-yinc-03, $s-icon-yinc-03-2x, );
$retina-groups: ($s-bg-arrow-01-group, $s-bg-flag01-group, $s-bg-flag02-group, $s-btn-close-group, $s-btn-down-01-group, $s-btn-favorite-group, $s-btn-favorite-selected-group, $s-btn-favorite-shadow-selected-group, $s-btn-info01-group, $s-btn-more-01-group, $s-btn-play01-group, $s-btn-up-01-group, $s-checkbox-all-group, $s-checkbox-all-checked-group, $s-checkbox-enterprise-group, $s-checkbox-enterprise-checked-group, $s-checkbox-gray-group, $s-checkbox-gray-checked-group, $s-flag-success-group, $s-icon-a-group, $s-icon-arrow01-group, $s-icon-company-group, $s-icon-deductions-group, $s-icon-executives-group, $s-icon-iks-group, $s-icon-iks-02-group, $s-icon-lead-group, $s-icon-message-01-group, $s-icon-none-group, $s-icon-none-like-group, $s-icon-q-group, $s-icon-yinc-group, $s-icon-yinc-02-group, $s-icon-yinc-03-group, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `retina-sprite` mixin sets up rules and a media query for a sprite/retina sprite.
  It should be used with a "retina group" variable.

The media query is from CSS Tricks: https://css-tricks.com/snippets/css/retina-display-media-query/

$icon-home-group: ('icon-home', $icon-home, $icon-home-2x, );

.icon-home {
  @include retina-sprite($icon-home-group);
}
*/
@mixin sprite-background-size($sprite) {
  $sprite-total-width: nth($sprite, 7);
  $sprite-total-height: nth($sprite, 8);
  background-size: $sprite-total-width $sprite-total-height;
}

@mixin retina-sprite($retina-group) {
  $normal-sprite: nth($retina-group, 2);
  $retina-sprite: nth($retina-group, 3);
  @include sprite($normal-sprite);

  @media (-webkit-min-device-pixel-ratio: 2),
         (min-resolution: 192dpi) {
    @include sprite-image($retina-sprite);
    @include sprite-background-size($normal-sprite);
  }
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}

/*
The `retina-sprites` mixin generates a CSS rule and media query for retina groups
  This yields the same output as CSS retina template but can be overridden in SCSS

@include retina-sprites($retina-groups);
*/
@mixin retina-sprites($retina-groups) {
  @each $retina-group in $retina-groups {
    $sprite-name: nth($retina-group, 1);
    .#{$sprite-name} {
      @include retina-sprite($retina-group);
    }
  }
}
