/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$s-bg-flag01-name: 's-bg_flag01';
$s-bg-flag01-x: 45px;
$s-bg-flag01-y: 83px;
$s-bg-flag01-offset-x: -45px;
$s-bg-flag01-offset-y: -83px;
$s-bg-flag01-width: 59px;
$s-bg-flag01-height: 26px;
$s-bg-flag01-total-width: 194px;
$s-bg-flag01-total-height: 123px;
$s-bg-flag01-image: '/assets/images/sprites.png';
$s-bg-flag01: (45px, 83px, -45px, -83px, 59px, 26px, 194px, 123px, '/assets/images/sprites.png', 's-bg_flag01', );
$s-bg-flag02-name: 's-bg_flag02';
$s-bg-flag02-x: 135px;
$s-bg-flag02-y: 0px;
$s-bg-flag02-offset-x: -135px;
$s-bg-flag02-offset-y: 0px;
$s-bg-flag02-width: 59px;
$s-bg-flag02-height: 26px;
$s-bg-flag02-total-width: 194px;
$s-bg-flag02-total-height: 123px;
$s-bg-flag02-image: '/assets/images/sprites.png';
$s-bg-flag02: (135px, 0px, -135px, 0px, 59px, 26px, 194px, 123px, '/assets/images/sprites.png', 's-bg_flag02', );
$s-btn-favorite-name: 's-btn_favorite';
$s-btn-favorite-x: 0px;
$s-btn-favorite-y: 34px;
$s-btn-favorite-offset-x: 0px;
$s-btn-favorite-offset-y: -34px;
$s-btn-favorite-width: 44px;
$s-btn-favorite-height: 44px;
$s-btn-favorite-total-width: 194px;
$s-btn-favorite-total-height: 123px;
$s-btn-favorite-image: '/assets/images/sprites.png';
$s-btn-favorite: (0px, 34px, 0px, -34px, 44px, 44px, 194px, 123px, '/assets/images/sprites.png', 's-btn_favorite', );
$s-btn-favorite-selected-name: 's-btn_favorite_selected';
$s-btn-favorite-selected-x: 86px;
$s-btn-favorite-selected-y: 0px;
$s-btn-favorite-selected-offset-x: -86px;
$s-btn-favorite-selected-offset-y: 0px;
$s-btn-favorite-selected-width: 44px;
$s-btn-favorite-selected-height: 44px;
$s-btn-favorite-selected-total-width: 194px;
$s-btn-favorite-selected-total-height: 123px;
$s-btn-favorite-selected-image: '/assets/images/sprites.png';
$s-btn-favorite-selected: (86px, 0px, -86px, 0px, 44px, 44px, 194px, 123px, '/assets/images/sprites.png', 's-btn_favorite_selected', );
$s-btn-info01-name: 's-btn_info01';
$s-btn-info01-x: 0px;
$s-btn-info01-y: 83px;
$s-btn-info01-offset-x: 0px;
$s-btn-info01-offset-y: -83px;
$s-btn-info01-width: 40px;
$s-btn-info01-height: 40px;
$s-btn-info01-total-width: 194px;
$s-btn-info01-total-height: 123px;
$s-btn-info01-image: '/assets/images/sprites.png';
$s-btn-info01: (0px, 83px, 0px, -83px, 40px, 40px, 194px, 123px, '/assets/images/sprites.png', 's-btn_info01', );
$s-btn-play01-name: 's-btn_play01';
$s-btn-play01-x: 0px;
$s-btn-play01-y: 0px;
$s-btn-play01-offset-x: 0px;
$s-btn-play01-offset-y: 0px;
$s-btn-play01-width: 81px;
$s-btn-play01-height: 29px;
$s-btn-play01-total-width: 194px;
$s-btn-play01-total-height: 123px;
$s-btn-play01-image: '/assets/images/sprites.png';
$s-btn-play01: (0px, 0px, 0px, 0px, 81px, 29px, 194px, 123px, '/assets/images/sprites.png', 's-btn_play01', );
$s-icon-arrow01-name: 's-icon_arrow01';
$s-icon-arrow01-x: 183px;
$s-icon-arrow01-y: 62px;
$s-icon-arrow01-offset-x: -183px;
$s-icon-arrow01-offset-y: -62px;
$s-icon-arrow01-width: 8px;
$s-icon-arrow01-height: 14px;
$s-icon-arrow01-total-width: 194px;
$s-icon-arrow01-total-height: 123px;
$s-icon-arrow01-image: '/assets/images/sprites.png';
$s-icon-arrow01: (183px, 62px, -183px, -62px, 8px, 14px, 194px, 123px, '/assets/images/sprites.png', 's-icon_arrow01', );
$s-icon-company-name: 's-icon_company';
$s-icon-company-x: 135px;
$s-icon-company-y: 104px;
$s-icon-company-offset-x: -135px;
$s-icon-company-offset-y: -104px;
$s-icon-company-width: 15px;
$s-icon-company-height: 14px;
$s-icon-company-total-width: 194px;
$s-icon-company-total-height: 123px;
$s-icon-company-image: '/assets/images/sprites.png';
$s-icon-company: (135px, 104px, -135px, -104px, 15px, 14px, 194px, 123px, '/assets/images/sprites.png', 's-icon_company', );
$s-icon-deductions-name: 's-icon_deductions';
$s-icon-deductions-x: 135px;
$s-icon-deductions-y: 31px;
$s-icon-deductions-offset-x: -135px;
$s-icon-deductions-offset-y: -31px;
$s-icon-deductions-width: 26px;
$s-icon-deductions-height: 26px;
$s-icon-deductions-total-width: 194px;
$s-icon-deductions-total-height: 123px;
$s-icon-deductions-image: '/assets/images/sprites.png';
$s-icon-deductions: (135px, 31px, -135px, -31px, 26px, 26px, 194px, 123px, '/assets/images/sprites.png', 's-icon_deductions', );
$s-icon-executives-name: 's-icon_executives';
$s-icon-executives-x: 157px;
$s-icon-executives-y: 84px;
$s-icon-executives-offset-x: -157px;
$s-icon-executives-offset-y: -84px;
$s-icon-executives-width: 19px;
$s-icon-executives-height: 12px;
$s-icon-executives-total-width: 194px;
$s-icon-executives-total-height: 123px;
$s-icon-executives-image: '/assets/images/sprites.png';
$s-icon-executives: (157px, 84px, -157px, -84px, 19px, 12px, 194px, 123px, '/assets/images/sprites.png', 's-icon_executives', );
$s-icon-lead-name: 's-icon_lead';
$s-icon-lead-x: 166px;
$s-icon-lead-y: 31px;
$s-icon-lead-offset-x: -166px;
$s-icon-lead-offset-y: -31px;
$s-icon-lead-width: 26px;
$s-icon-lead-height: 26px;
$s-icon-lead-total-width: 194px;
$s-icon-lead-total-height: 123px;
$s-icon-lead-image: '/assets/images/sprites.png';
$s-icon-lead: (166px, 31px, -166px, -31px, 26px, 26px, 194px, 123px, '/assets/images/sprites.png', 's-icon_lead', );
$s-icon-yinc-name: 's-icon_yinc';
$s-icon-yinc-x: 135px;
$s-icon-yinc-y: 84px;
$s-icon-yinc-offset-x: -135px;
$s-icon-yinc-offset-y: -84px;
$s-icon-yinc-width: 17px;
$s-icon-yinc-height: 15px;
$s-icon-yinc-total-width: 194px;
$s-icon-yinc-total-height: 123px;
$s-icon-yinc-image: '/assets/images/sprites.png';
$s-icon-yinc: (135px, 84px, -135px, -84px, 17px, 15px, 194px, 123px, '/assets/images/sprites.png', 's-icon_yinc', );
$s-icon-yinc-02-name: 's-icon_yinc_02';
$s-icon-yinc-02-x: 135px;
$s-icon-yinc-02-y: 62px;
$s-icon-yinc-02-offset-x: -135px;
$s-icon-yinc-02-offset-y: -62px;
$s-icon-yinc-02-width: 19px;
$s-icon-yinc-02-height: 17px;
$s-icon-yinc-02-total-width: 194px;
$s-icon-yinc-02-total-height: 123px;
$s-icon-yinc-02-image: '/assets/images/sprites.png';
$s-icon-yinc-02: (135px, 62px, -135px, -62px, 19px, 17px, 194px, 123px, '/assets/images/sprites.png', 's-icon_yinc_02', );
$s-icon-yinc-03-name: 's-icon_yinc_03';
$s-icon-yinc-03-x: 159px;
$s-icon-yinc-03-y: 62px;
$s-icon-yinc-03-offset-x: -159px;
$s-icon-yinc-03-offset-y: -62px;
$s-icon-yinc-03-width: 19px;
$s-icon-yinc-03-height: 17px;
$s-icon-yinc-03-total-width: 194px;
$s-icon-yinc-03-total-height: 123px;
$s-icon-yinc-03-image: '/assets/images/sprites.png';
$s-icon-yinc-03: (159px, 62px, -159px, -62px, 19px, 17px, 194px, 123px, '/assets/images/sprites.png', 's-icon_yinc_03', );
$s-bg-flag01-2x-name: 's-bg_flag01@2x';
$s-bg-flag01-2x-x: 90px;
$s-bg-flag01-2x-y: 166px;
$s-bg-flag01-2x-offset-x: -90px;
$s-bg-flag01-2x-offset-y: -166px;
$s-bg-flag01-2x-width: 118px;
$s-bg-flag01-2x-height: 52px;
$s-bg-flag01-2x-total-width: 388px;
$s-bg-flag01-2x-total-height: 246px;
$s-bg-flag01-2x-image: '/assets/images/sprites@2x.png';
$s-bg-flag01-2x: (90px, 166px, -90px, -166px, 118px, 52px, 388px, 246px, '/assets/images/sprites@2x.png', 's-bg_flag01@2x', );
$s-bg-flag02-2x-name: 's-bg_flag02@2x';
$s-bg-flag02-2x-x: 270px;
$s-bg-flag02-2x-y: 0px;
$s-bg-flag02-2x-offset-x: -270px;
$s-bg-flag02-2x-offset-y: 0px;
$s-bg-flag02-2x-width: 118px;
$s-bg-flag02-2x-height: 52px;
$s-bg-flag02-2x-total-width: 388px;
$s-bg-flag02-2x-total-height: 246px;
$s-bg-flag02-2x-image: '/assets/images/sprites@2x.png';
$s-bg-flag02-2x: (270px, 0px, -270px, 0px, 118px, 52px, 388px, 246px, '/assets/images/sprites@2x.png', 's-bg_flag02@2x', );
$s-btn-favorite-2x-name: 's-btn_favorite@2x';
$s-btn-favorite-2x-x: 0px;
$s-btn-favorite-2x-y: 68px;
$s-btn-favorite-2x-offset-x: 0px;
$s-btn-favorite-2x-offset-y: -68px;
$s-btn-favorite-2x-width: 88px;
$s-btn-favorite-2x-height: 88px;
$s-btn-favorite-2x-total-width: 388px;
$s-btn-favorite-2x-total-height: 246px;
$s-btn-favorite-2x-image: '/assets/images/sprites@2x.png';
$s-btn-favorite-2x: (0px, 68px, 0px, -68px, 88px, 88px, 388px, 246px, '/assets/images/sprites@2x.png', 's-btn_favorite@2x', );
$s-btn-favorite-selected-2x-name: 's-btn_favorite_selected@2x';
$s-btn-favorite-selected-2x-x: 172px;
$s-btn-favorite-selected-2x-y: 0px;
$s-btn-favorite-selected-2x-offset-x: -172px;
$s-btn-favorite-selected-2x-offset-y: 0px;
$s-btn-favorite-selected-2x-width: 88px;
$s-btn-favorite-selected-2x-height: 88px;
$s-btn-favorite-selected-2x-total-width: 388px;
$s-btn-favorite-selected-2x-total-height: 246px;
$s-btn-favorite-selected-2x-image: '/assets/images/sprites@2x.png';
$s-btn-favorite-selected-2x: (172px, 0px, -172px, 0px, 88px, 88px, 388px, 246px, '/assets/images/sprites@2x.png', 's-btn_favorite_selected@2x', );
$s-btn-info01-2x-name: 's-btn_info01@2x';
$s-btn-info01-2x-x: 0px;
$s-btn-info01-2x-y: 166px;
$s-btn-info01-2x-offset-x: 0px;
$s-btn-info01-2x-offset-y: -166px;
$s-btn-info01-2x-width: 80px;
$s-btn-info01-2x-height: 80px;
$s-btn-info01-2x-total-width: 388px;
$s-btn-info01-2x-total-height: 246px;
$s-btn-info01-2x-image: '/assets/images/sprites@2x.png';
$s-btn-info01-2x: (0px, 166px, 0px, -166px, 80px, 80px, 388px, 246px, '/assets/images/sprites@2x.png', 's-btn_info01@2x', );
$s-btn-play01-2x-name: 's-btn_play01@2x';
$s-btn-play01-2x-x: 0px;
$s-btn-play01-2x-y: 0px;
$s-btn-play01-2x-offset-x: 0px;
$s-btn-play01-2x-offset-y: 0px;
$s-btn-play01-2x-width: 162px;
$s-btn-play01-2x-height: 58px;
$s-btn-play01-2x-total-width: 388px;
$s-btn-play01-2x-total-height: 246px;
$s-btn-play01-2x-image: '/assets/images/sprites@2x.png';
$s-btn-play01-2x: (0px, 0px, 0px, 0px, 162px, 58px, 388px, 246px, '/assets/images/sprites@2x.png', 's-btn_play01@2x', );
$s-icon-arrow01-2x-name: 's-icon_arrow01@2x';
$s-icon-arrow01-2x-x: 366px;
$s-icon-arrow01-2x-y: 124px;
$s-icon-arrow01-2x-offset-x: -366px;
$s-icon-arrow01-2x-offset-y: -124px;
$s-icon-arrow01-2x-width: 16px;
$s-icon-arrow01-2x-height: 28px;
$s-icon-arrow01-2x-total-width: 388px;
$s-icon-arrow01-2x-total-height: 246px;
$s-icon-arrow01-2x-image: '/assets/images/sprites@2x.png';
$s-icon-arrow01-2x: (366px, 124px, -366px, -124px, 16px, 28px, 388px, 246px, '/assets/images/sprites@2x.png', 's-icon_arrow01@2x', );
$s-icon-company-2x-name: 's-icon_company@2x';
$s-icon-company-2x-x: 270px;
$s-icon-company-2x-y: 208px;
$s-icon-company-2x-offset-x: -270px;
$s-icon-company-2x-offset-y: -208px;
$s-icon-company-2x-width: 30px;
$s-icon-company-2x-height: 28px;
$s-icon-company-2x-total-width: 388px;
$s-icon-company-2x-total-height: 246px;
$s-icon-company-2x-image: '/assets/images/sprites@2x.png';
$s-icon-company-2x: (270px, 208px, -270px, -208px, 30px, 28px, 388px, 246px, '/assets/images/sprites@2x.png', 's-icon_company@2x', );
$s-icon-deductions-2x-name: 's-icon_deductions@2x';
$s-icon-deductions-2x-x: 270px;
$s-icon-deductions-2x-y: 62px;
$s-icon-deductions-2x-offset-x: -270px;
$s-icon-deductions-2x-offset-y: -62px;
$s-icon-deductions-2x-width: 52px;
$s-icon-deductions-2x-height: 52px;
$s-icon-deductions-2x-total-width: 388px;
$s-icon-deductions-2x-total-height: 246px;
$s-icon-deductions-2x-image: '/assets/images/sprites@2x.png';
$s-icon-deductions-2x: (270px, 62px, -270px, -62px, 52px, 52px, 388px, 246px, '/assets/images/sprites@2x.png', 's-icon_deductions@2x', );
$s-icon-executives-2x-name: 's-icon_executives@2x';
$s-icon-executives-2x-x: 314px;
$s-icon-executives-2x-y: 168px;
$s-icon-executives-2x-offset-x: -314px;
$s-icon-executives-2x-offset-y: -168px;
$s-icon-executives-2x-width: 38px;
$s-icon-executives-2x-height: 24px;
$s-icon-executives-2x-total-width: 388px;
$s-icon-executives-2x-total-height: 246px;
$s-icon-executives-2x-image: '/assets/images/sprites@2x.png';
$s-icon-executives-2x: (314px, 168px, -314px, -168px, 38px, 24px, 388px, 246px, '/assets/images/sprites@2x.png', 's-icon_executives@2x', );
$s-icon-lead-2x-name: 's-icon_lead@2x';
$s-icon-lead-2x-x: 332px;
$s-icon-lead-2x-y: 62px;
$s-icon-lead-2x-offset-x: -332px;
$s-icon-lead-2x-offset-y: -62px;
$s-icon-lead-2x-width: 52px;
$s-icon-lead-2x-height: 52px;
$s-icon-lead-2x-total-width: 388px;
$s-icon-lead-2x-total-height: 246px;
$s-icon-lead-2x-image: '/assets/images/sprites@2x.png';
$s-icon-lead-2x: (332px, 62px, -332px, -62px, 52px, 52px, 388px, 246px, '/assets/images/sprites@2x.png', 's-icon_lead@2x', );
$s-icon-yinc-2x-name: 's-icon_yinc@2x';
$s-icon-yinc-2x-x: 270px;
$s-icon-yinc-2x-y: 168px;
$s-icon-yinc-2x-offset-x: -270px;
$s-icon-yinc-2x-offset-y: -168px;
$s-icon-yinc-2x-width: 34px;
$s-icon-yinc-2x-height: 30px;
$s-icon-yinc-2x-total-width: 388px;
$s-icon-yinc-2x-total-height: 246px;
$s-icon-yinc-2x-image: '/assets/images/sprites@2x.png';
$s-icon-yinc-2x: (270px, 168px, -270px, -168px, 34px, 30px, 388px, 246px, '/assets/images/sprites@2x.png', 's-icon_yinc@2x', );
$s-icon-yinc-02-2x-name: 's-icon_yinc_02@2x';
$s-icon-yinc-02-2x-x: 270px;
$s-icon-yinc-02-2x-y: 124px;
$s-icon-yinc-02-2x-offset-x: -270px;
$s-icon-yinc-02-2x-offset-y: -124px;
$s-icon-yinc-02-2x-width: 38px;
$s-icon-yinc-02-2x-height: 34px;
$s-icon-yinc-02-2x-total-width: 388px;
$s-icon-yinc-02-2x-total-height: 246px;
$s-icon-yinc-02-2x-image: '/assets/images/sprites@2x.png';
$s-icon-yinc-02-2x: (270px, 124px, -270px, -124px, 38px, 34px, 388px, 246px, '/assets/images/sprites@2x.png', 's-icon_yinc_02@2x', );
$s-icon-yinc-03-2x-name: 's-icon_yinc_03@2x';
$s-icon-yinc-03-2x-x: 318px;
$s-icon-yinc-03-2x-y: 124px;
$s-icon-yinc-03-2x-offset-x: -318px;
$s-icon-yinc-03-2x-offset-y: -124px;
$s-icon-yinc-03-2x-width: 38px;
$s-icon-yinc-03-2x-height: 34px;
$s-icon-yinc-03-2x-total-width: 388px;
$s-icon-yinc-03-2x-total-height: 246px;
$s-icon-yinc-03-2x-image: '/assets/images/sprites@2x.png';
$s-icon-yinc-03-2x: (318px, 124px, -318px, -124px, 38px, 34px, 388px, 246px, '/assets/images/sprites@2x.png', 's-icon_yinc_03@2x', );
$spritesheet-width: 194px;
$spritesheet-height: 123px;
$spritesheet-image: '/assets/images/sprites.png';
$spritesheet-sprites: ($s-bg-flag01, $s-bg-flag02, $s-btn-favorite, $s-btn-favorite-selected, $s-btn-info01, $s-btn-play01, $s-icon-arrow01, $s-icon-company, $s-icon-deductions, $s-icon-executives, $s-icon-lead, $s-icon-yinc, $s-icon-yinc-02, $s-icon-yinc-03, );
$spritesheet: (194px, 123px, '/assets/images/sprites.png', $spritesheet-sprites, );
$retina-spritesheet-width: 388px;
$retina-spritesheet-height: 246px;
$retina-spritesheet-image: '/assets/images/sprites@2x.png';
$retina-spritesheet-sprites: ($s-bg-flag01-2x, $s-bg-flag02-2x, $s-btn-favorite-2x, $s-btn-favorite-selected-2x, $s-btn-info01-2x, $s-btn-play01-2x, $s-icon-arrow01-2x, $s-icon-company-2x, $s-icon-deductions-2x, $s-icon-executives-2x, $s-icon-lead-2x, $s-icon-yinc-2x, $s-icon-yinc-02-2x, $s-icon-yinc-03-2x, );
$retina-spritesheet: (388px, 246px, '/assets/images/sprites@2x.png', $retina-spritesheet-sprites, );

/*
These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.

The list formatted variables are intended for mixins like `retina-sprite` and `retina-sprites`.
*/
$s-bg-flag01-group-name: 's-bg_flag01';
$s-bg-flag01-group: ('s-bg_flag01', $s-bg-flag01, $s-bg-flag01-2x, );
$s-bg-flag02-group-name: 's-bg_flag02';
$s-bg-flag02-group: ('s-bg_flag02', $s-bg-flag02, $s-bg-flag02-2x, );
$s-btn-favorite-group-name: 's-btn_favorite';
$s-btn-favorite-group: ('s-btn_favorite', $s-btn-favorite, $s-btn-favorite-2x, );
$s-btn-favorite-selected-group-name: 's-btn_favorite_selected';
$s-btn-favorite-selected-group: ('s-btn_favorite_selected', $s-btn-favorite-selected, $s-btn-favorite-selected-2x, );
$s-btn-info01-group-name: 's-btn_info01';
$s-btn-info01-group: ('s-btn_info01', $s-btn-info01, $s-btn-info01-2x, );
$s-btn-play01-group-name: 's-btn_play01';
$s-btn-play01-group: ('s-btn_play01', $s-btn-play01, $s-btn-play01-2x, );
$s-icon-arrow01-group-name: 's-icon_arrow01';
$s-icon-arrow01-group: ('s-icon_arrow01', $s-icon-arrow01, $s-icon-arrow01-2x, );
$s-icon-company-group-name: 's-icon_company';
$s-icon-company-group: ('s-icon_company', $s-icon-company, $s-icon-company-2x, );
$s-icon-deductions-group-name: 's-icon_deductions';
$s-icon-deductions-group: ('s-icon_deductions', $s-icon-deductions, $s-icon-deductions-2x, );
$s-icon-executives-group-name: 's-icon_executives';
$s-icon-executives-group: ('s-icon_executives', $s-icon-executives, $s-icon-executives-2x, );
$s-icon-lead-group-name: 's-icon_lead';
$s-icon-lead-group: ('s-icon_lead', $s-icon-lead, $s-icon-lead-2x, );
$s-icon-yinc-group-name: 's-icon_yinc';
$s-icon-yinc-group: ('s-icon_yinc', $s-icon-yinc, $s-icon-yinc-2x, );
$s-icon-yinc-02-group-name: 's-icon_yinc_02';
$s-icon-yinc-02-group: ('s-icon_yinc_02', $s-icon-yinc-02, $s-icon-yinc-02-2x, );
$s-icon-yinc-03-group-name: 's-icon_yinc_03';
$s-icon-yinc-03-group: ('s-icon_yinc_03', $s-icon-yinc-03, $s-icon-yinc-03-2x, );
$retina-groups: ($s-bg-flag01-group, $s-bg-flag02-group, $s-btn-favorite-group, $s-btn-favorite-selected-group, $s-btn-info01-group, $s-btn-play01-group, $s-icon-arrow01-group, $s-icon-company-group, $s-icon-deductions-group, $s-icon-executives-group, $s-icon-lead-group, $s-icon-yinc-group, $s-icon-yinc-02-group, $s-icon-yinc-03-group, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `retina-sprite` mixin sets up rules and a media query for a sprite/retina sprite.
  It should be used with a "retina group" variable.

The media query is from CSS Tricks: https://css-tricks.com/snippets/css/retina-display-media-query/

$icon-home-group: ('icon-home', $icon-home, $icon-home-2x, );

.icon-home {
  @include retina-sprite($icon-home-group);
}
*/
@mixin sprite-background-size($sprite) {
  $sprite-total-width: nth($sprite, 7);
  $sprite-total-height: nth($sprite, 8);
  background-size: $sprite-total-width $sprite-total-height;
}

@mixin retina-sprite($retina-group) {
  $normal-sprite: nth($retina-group, 2);
  $retina-sprite: nth($retina-group, 3);
  @include sprite($normal-sprite);

  @media (-webkit-min-device-pixel-ratio: 2),
         (min-resolution: 192dpi) {
    @include sprite-image($retina-sprite);
    @include sprite-background-size($normal-sprite);
  }
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}

/*
The `retina-sprites` mixin generates a CSS rule and media query for retina groups
  This yields the same output as CSS retina template but can be overridden in SCSS

@include retina-sprites($retina-groups);
*/
@mixin retina-sprites($retina-groups) {
  @each $retina-group in $retina-groups {
    $sprite-name: nth($retina-group, 1);
    .#{$sprite-name} {
      @include retina-sprite($retina-group);
    }
  }
}
