/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$s-bg-flag01-name: 's-bg_flag01';
$s-bg-flag01-x: 49px;
$s-bg-flag01-y: 144px;
$s-bg-flag01-offset-x: -49px;
$s-bg-flag01-offset-y: -144px;
$s-bg-flag01-width: 59px;
$s-bg-flag01-height: 26px;
$s-bg-flag01-total-width: 211px;
$s-bg-flag01-total-height: 207px;
$s-bg-flag01-image: '/assets/images/sprites.png';
$s-bg-flag01: (49px, 144px, -49px, -144px, 59px, 26px, 211px, 207px, '/assets/images/sprites.png', 's-bg_flag01', );
$s-bg-flag02-name: 's-bg_flag02';
$s-bg-flag02-x: 69px;
$s-bg-flag02-y: 109px;
$s-bg-flag02-offset-x: -69px;
$s-bg-flag02-offset-y: -109px;
$s-bg-flag02-width: 59px;
$s-bg-flag02-height: 26px;
$s-bg-flag02-total-width: 211px;
$s-bg-flag02-total-height: 207px;
$s-bg-flag02-image: '/assets/images/sprites.png';
$s-bg-flag02: (69px, 109px, -69px, -109px, 59px, 26px, 211px, 207px, '/assets/images/sprites.png', 's-bg_flag02', );
$s-btn-favorite-name: 's-btn_favorite';
$s-btn-favorite-x: 167px;
$s-btn-favorite-y: 49px;
$s-btn-favorite-offset-x: -167px;
$s-btn-favorite-offset-y: -49px;
$s-btn-favorite-width: 44px;
$s-btn-favorite-height: 44px;
$s-btn-favorite-total-width: 211px;
$s-btn-favorite-total-height: 207px;
$s-btn-favorite-image: '/assets/images/sprites.png';
$s-btn-favorite: (167px, 49px, -167px, -49px, 44px, 44px, 211px, 207px, '/assets/images/sprites.png', 's-btn_favorite', );
$s-btn-favorite-selected-name: 's-btn_favorite_selected';
$s-btn-favorite-selected-x: 0px;
$s-btn-favorite-selected-y: 144px;
$s-btn-favorite-selected-offset-x: 0px;
$s-btn-favorite-selected-offset-y: -144px;
$s-btn-favorite-selected-width: 44px;
$s-btn-favorite-selected-height: 44px;
$s-btn-favorite-selected-total-width: 211px;
$s-btn-favorite-selected-total-height: 207px;
$s-btn-favorite-selected-image: '/assets/images/sprites.png';
$s-btn-favorite-selected: (0px, 144px, 0px, -144px, 44px, 44px, 211px, 207px, '/assets/images/sprites.png', 's-btn_favorite_selected', );
$s-btn-favorite-shadow-selected-name: 's-btn_favorite_shadow_selected';
$s-btn-favorite-shadow-selected-x: 167px;
$s-btn-favorite-shadow-selected-y: 0px;
$s-btn-favorite-shadow-selected-offset-x: -167px;
$s-btn-favorite-shadow-selected-offset-y: 0px;
$s-btn-favorite-shadow-selected-width: 44px;
$s-btn-favorite-shadow-selected-height: 44px;
$s-btn-favorite-shadow-selected-total-width: 211px;
$s-btn-favorite-shadow-selected-total-height: 207px;
$s-btn-favorite-shadow-selected-image: '/assets/images/sprites.png';
$s-btn-favorite-shadow-selected: (167px, 0px, -167px, 0px, 44px, 44px, 211px, 207px, '/assets/images/sprites.png', 's-btn_favorite_shadow_selected', );
$s-btn-info01-name: 's-btn_info01';
$s-btn-info01-x: 167px;
$s-btn-info01-y: 98px;
$s-btn-info01-offset-x: -167px;
$s-btn-info01-offset-y: -98px;
$s-btn-info01-width: 40px;
$s-btn-info01-height: 40px;
$s-btn-info01-total-width: 211px;
$s-btn-info01-total-height: 207px;
$s-btn-info01-image: '/assets/images/sprites.png';
$s-btn-info01: (167px, 98px, -167px, -98px, 40px, 40px, 211px, 207px, '/assets/images/sprites.png', 's-btn_info01', );
$s-btn-play01-name: 's-btn_play01';
$s-btn-play01-x: 69px;
$s-btn-play01-y: 75px;
$s-btn-play01-offset-x: -69px;
$s-btn-play01-offset-y: -75px;
$s-btn-play01-width: 81px;
$s-btn-play01-height: 29px;
$s-btn-play01-total-width: 211px;
$s-btn-play01-total-height: 207px;
$s-btn-play01-image: '/assets/images/sprites.png';
$s-btn-play01: (69px, 75px, -69px, -75px, 81px, 29px, 211px, 207px, '/assets/images/sprites.png', 's-btn_play01', );
$s-flag-success-name: 's-flag_success';
$s-flag-success-x: 0px;
$s-flag-success-y: 75px;
$s-flag-success-offset-x: 0px;
$s-flag-success-offset-y: -75px;
$s-flag-success-width: 64px;
$s-flag-success-height: 64px;
$s-flag-success-total-width: 211px;
$s-flag-success-total-height: 207px;
$s-flag-success-image: '/assets/images/sprites.png';
$s-flag-success: (0px, 75px, 0px, -75px, 64px, 64px, 211px, 207px, '/assets/images/sprites.png', 's-flag_success', );
$s-icon-arrow01-name: 's-icon_arrow01';
$s-icon-arrow01-x: 20px;
$s-icon-arrow01-y: 193px;
$s-icon-arrow01-offset-x: -20px;
$s-icon-arrow01-offset-y: -193px;
$s-icon-arrow01-width: 8px;
$s-icon-arrow01-height: 14px;
$s-icon-arrow01-total-width: 211px;
$s-icon-arrow01-total-height: 207px;
$s-icon-arrow01-image: '/assets/images/sprites.png';
$s-icon-arrow01: (20px, 193px, -20px, -193px, 8px, 14px, 211px, 207px, '/assets/images/sprites.png', 's-icon_arrow01', );
$s-icon-company-name: 's-icon_company';
$s-icon-company-x: 0px;
$s-icon-company-y: 193px;
$s-icon-company-offset-x: 0px;
$s-icon-company-offset-y: -193px;
$s-icon-company-width: 15px;
$s-icon-company-height: 14px;
$s-icon-company-total-width: 211px;
$s-icon-company-total-height: 207px;
$s-icon-company-image: '/assets/images/sprites.png';
$s-icon-company: (0px, 193px, 0px, -193px, 15px, 14px, 211px, 207px, '/assets/images/sprites.png', 's-icon_company', );
$s-icon-deductions-name: 's-icon_deductions';
$s-icon-deductions-x: 133px;
$s-icon-deductions-y: 109px;
$s-icon-deductions-offset-x: -133px;
$s-icon-deductions-offset-y: -109px;
$s-icon-deductions-width: 26px;
$s-icon-deductions-height: 26px;
$s-icon-deductions-total-width: 211px;
$s-icon-deductions-total-height: 207px;
$s-icon-deductions-image: '/assets/images/sprites.png';
$s-icon-deductions: (133px, 109px, -133px, -109px, 26px, 26px, 211px, 207px, '/assets/images/sprites.png', 's-icon_deductions', );
$s-icon-executives-name: 's-icon_executives';
$s-icon-executives-x: 49px;
$s-icon-executives-y: 175px;
$s-icon-executives-offset-x: -49px;
$s-icon-executives-offset-y: -175px;
$s-icon-executives-width: 19px;
$s-icon-executives-height: 12px;
$s-icon-executives-total-width: 211px;
$s-icon-executives-total-height: 207px;
$s-icon-executives-image: '/assets/images/sprites.png';
$s-icon-executives: (49px, 175px, -49px, -175px, 19px, 12px, 211px, 207px, '/assets/images/sprites.png', 's-icon_executives', );
$s-icon-lead-name: 's-icon_lead';
$s-icon-lead-x: 113px;
$s-icon-lead-y: 144px;
$s-icon-lead-offset-x: -113px;
$s-icon-lead-offset-y: -144px;
$s-icon-lead-width: 26px;
$s-icon-lead-height: 26px;
$s-icon-lead-total-width: 211px;
$s-icon-lead-total-height: 207px;
$s-icon-lead-image: '/assets/images/sprites.png';
$s-icon-lead: (113px, 144px, -113px, -144px, 26px, 26px, 211px, 207px, '/assets/images/sprites.png', 's-icon_lead', );
$s-icon-none-name: 's-icon_none';
$s-icon-none-x: 0px;
$s-icon-none-y: 0px;
$s-icon-none-offset-x: 0px;
$s-icon-none-offset-y: 0px;
$s-icon-none-width: 80px;
$s-icon-none-height: 70px;
$s-icon-none-total-width: 211px;
$s-icon-none-total-height: 207px;
$s-icon-none-image: '/assets/images/sprites.png';
$s-icon-none: (0px, 0px, 0px, 0px, 80px, 70px, 211px, 207px, '/assets/images/sprites.png', 's-icon_none', );
$s-icon-none-like-name: 's-icon_none_like';
$s-icon-none-like-x: 85px;
$s-icon-none-like-y: 0px;
$s-icon-none-like-offset-x: -85px;
$s-icon-none-like-offset-y: 0px;
$s-icon-none-like-width: 77px;
$s-icon-none-like-height: 70px;
$s-icon-none-like-total-width: 211px;
$s-icon-none-like-total-height: 207px;
$s-icon-none-like-image: '/assets/images/sprites.png';
$s-icon-none-like: (85px, 0px, -85px, 0px, 77px, 70px, 211px, 207px, '/assets/images/sprites.png', 's-icon_none_like', );
$s-icon-yinc-name: 's-icon_yinc';
$s-icon-yinc-x: 192px;
$s-icon-yinc-y: 144px;
$s-icon-yinc-offset-x: -192px;
$s-icon-yinc-offset-y: -144px;
$s-icon-yinc-width: 17px;
$s-icon-yinc-height: 15px;
$s-icon-yinc-total-width: 211px;
$s-icon-yinc-total-height: 207px;
$s-icon-yinc-image: '/assets/images/sprites.png';
$s-icon-yinc: (192px, 144px, -192px, -144px, 17px, 15px, 211px, 207px, '/assets/images/sprites.png', 's-icon_yinc', );
$s-icon-yinc-02-name: 's-icon_yinc_02';
$s-icon-yinc-02-x: 144px;
$s-icon-yinc-02-y: 144px;
$s-icon-yinc-02-offset-x: -144px;
$s-icon-yinc-02-offset-y: -144px;
$s-icon-yinc-02-width: 19px;
$s-icon-yinc-02-height: 17px;
$s-icon-yinc-02-total-width: 211px;
$s-icon-yinc-02-total-height: 207px;
$s-icon-yinc-02-image: '/assets/images/sprites.png';
$s-icon-yinc-02: (144px, 144px, -144px, -144px, 19px, 17px, 211px, 207px, '/assets/images/sprites.png', 's-icon_yinc_02', );
$s-icon-yinc-03-name: 's-icon_yinc_03';
$s-icon-yinc-03-x: 168px;
$s-icon-yinc-03-y: 144px;
$s-icon-yinc-03-offset-x: -168px;
$s-icon-yinc-03-offset-y: -144px;
$s-icon-yinc-03-width: 19px;
$s-icon-yinc-03-height: 17px;
$s-icon-yinc-03-total-width: 211px;
$s-icon-yinc-03-total-height: 207px;
$s-icon-yinc-03-image: '/assets/images/sprites.png';
$s-icon-yinc-03: (168px, 144px, -168px, -144px, 19px, 17px, 211px, 207px, '/assets/images/sprites.png', 's-icon_yinc_03', );
$s-bg-flag01-2x-name: 's-bg_flag01@2x';
$s-bg-flag01-2x-x: 98px;
$s-bg-flag01-2x-y: 288px;
$s-bg-flag01-2x-offset-x: -98px;
$s-bg-flag01-2x-offset-y: -288px;
$s-bg-flag01-2x-width: 118px;
$s-bg-flag01-2x-height: 52px;
$s-bg-flag01-2x-total-width: 422px;
$s-bg-flag01-2x-total-height: 414px;
$s-bg-flag01-2x-image: '/assets/images/sprites@2x.png';
$s-bg-flag01-2x: (98px, 288px, -98px, -288px, 118px, 52px, 422px, 414px, '/assets/images/sprites@2x.png', 's-bg_flag01@2x', );
$s-bg-flag02-2x-name: 's-bg_flag02@2x';
$s-bg-flag02-2x-x: 138px;
$s-bg-flag02-2x-y: 218px;
$s-bg-flag02-2x-offset-x: -138px;
$s-bg-flag02-2x-offset-y: -218px;
$s-bg-flag02-2x-width: 118px;
$s-bg-flag02-2x-height: 52px;
$s-bg-flag02-2x-total-width: 422px;
$s-bg-flag02-2x-total-height: 414px;
$s-bg-flag02-2x-image: '/assets/images/sprites@2x.png';
$s-bg-flag02-2x: (138px, 218px, -138px, -218px, 118px, 52px, 422px, 414px, '/assets/images/sprites@2x.png', 's-bg_flag02@2x', );
$s-btn-favorite-2x-name: 's-btn_favorite@2x';
$s-btn-favorite-2x-x: 334px;
$s-btn-favorite-2x-y: 98px;
$s-btn-favorite-2x-offset-x: -334px;
$s-btn-favorite-2x-offset-y: -98px;
$s-btn-favorite-2x-width: 88px;
$s-btn-favorite-2x-height: 88px;
$s-btn-favorite-2x-total-width: 422px;
$s-btn-favorite-2x-total-height: 414px;
$s-btn-favorite-2x-image: '/assets/images/sprites@2x.png';
$s-btn-favorite-2x: (334px, 98px, -334px, -98px, 88px, 88px, 422px, 414px, '/assets/images/sprites@2x.png', 's-btn_favorite@2x', );
$s-btn-favorite-selected-2x-name: 's-btn_favorite_selected@2x';
$s-btn-favorite-selected-2x-x: 0px;
$s-btn-favorite-selected-2x-y: 288px;
$s-btn-favorite-selected-2x-offset-x: 0px;
$s-btn-favorite-selected-2x-offset-y: -288px;
$s-btn-favorite-selected-2x-width: 88px;
$s-btn-favorite-selected-2x-height: 88px;
$s-btn-favorite-selected-2x-total-width: 422px;
$s-btn-favorite-selected-2x-total-height: 414px;
$s-btn-favorite-selected-2x-image: '/assets/images/sprites@2x.png';
$s-btn-favorite-selected-2x: (0px, 288px, 0px, -288px, 88px, 88px, 422px, 414px, '/assets/images/sprites@2x.png', 's-btn_favorite_selected@2x', );
$s-btn-favorite-shadow-selected-2x-name: 's-btn_favorite_shadow_selected@2x';
$s-btn-favorite-shadow-selected-2x-x: 334px;
$s-btn-favorite-shadow-selected-2x-y: 0px;
$s-btn-favorite-shadow-selected-2x-offset-x: -334px;
$s-btn-favorite-shadow-selected-2x-offset-y: 0px;
$s-btn-favorite-shadow-selected-2x-width: 88px;
$s-btn-favorite-shadow-selected-2x-height: 88px;
$s-btn-favorite-shadow-selected-2x-total-width: 422px;
$s-btn-favorite-shadow-selected-2x-total-height: 414px;
$s-btn-favorite-shadow-selected-2x-image: '/assets/images/sprites@2x.png';
$s-btn-favorite-shadow-selected-2x: (334px, 0px, -334px, 0px, 88px, 88px, 422px, 414px, '/assets/images/sprites@2x.png', 's-btn_favorite_shadow_selected@2x', );
$s-btn-info01-2x-name: 's-btn_info01@2x';
$s-btn-info01-2x-x: 334px;
$s-btn-info01-2x-y: 196px;
$s-btn-info01-2x-offset-x: -334px;
$s-btn-info01-2x-offset-y: -196px;
$s-btn-info01-2x-width: 80px;
$s-btn-info01-2x-height: 80px;
$s-btn-info01-2x-total-width: 422px;
$s-btn-info01-2x-total-height: 414px;
$s-btn-info01-2x-image: '/assets/images/sprites@2x.png';
$s-btn-info01-2x: (334px, 196px, -334px, -196px, 80px, 80px, 422px, 414px, '/assets/images/sprites@2x.png', 's-btn_info01@2x', );
$s-btn-play01-2x-name: 's-btn_play01@2x';
$s-btn-play01-2x-x: 138px;
$s-btn-play01-2x-y: 150px;
$s-btn-play01-2x-offset-x: -138px;
$s-btn-play01-2x-offset-y: -150px;
$s-btn-play01-2x-width: 162px;
$s-btn-play01-2x-height: 58px;
$s-btn-play01-2x-total-width: 422px;
$s-btn-play01-2x-total-height: 414px;
$s-btn-play01-2x-image: '/assets/images/sprites@2x.png';
$s-btn-play01-2x: (138px, 150px, -138px, -150px, 162px, 58px, 422px, 414px, '/assets/images/sprites@2x.png', 's-btn_play01@2x', );
$s-flag-success-2x-name: 's-flag_success@2x';
$s-flag-success-2x-x: 0px;
$s-flag-success-2x-y: 150px;
$s-flag-success-2x-offset-x: 0px;
$s-flag-success-2x-offset-y: -150px;
$s-flag-success-2x-width: 128px;
$s-flag-success-2x-height: 128px;
$s-flag-success-2x-total-width: 422px;
$s-flag-success-2x-total-height: 414px;
$s-flag-success-2x-image: '/assets/images/sprites@2x.png';
$s-flag-success-2x: (0px, 150px, 0px, -150px, 128px, 128px, 422px, 414px, '/assets/images/sprites@2x.png', 's-flag_success@2x', );
$s-icon-arrow01-2x-name: 's-icon_arrow01@2x';
$s-icon-arrow01-2x-x: 40px;
$s-icon-arrow01-2x-y: 386px;
$s-icon-arrow01-2x-offset-x: -40px;
$s-icon-arrow01-2x-offset-y: -386px;
$s-icon-arrow01-2x-width: 16px;
$s-icon-arrow01-2x-height: 28px;
$s-icon-arrow01-2x-total-width: 422px;
$s-icon-arrow01-2x-total-height: 414px;
$s-icon-arrow01-2x-image: '/assets/images/sprites@2x.png';
$s-icon-arrow01-2x: (40px, 386px, -40px, -386px, 16px, 28px, 422px, 414px, '/assets/images/sprites@2x.png', 's-icon_arrow01@2x', );
$s-icon-company-2x-name: 's-icon_company@2x';
$s-icon-company-2x-x: 0px;
$s-icon-company-2x-y: 386px;
$s-icon-company-2x-offset-x: 0px;
$s-icon-company-2x-offset-y: -386px;
$s-icon-company-2x-width: 30px;
$s-icon-company-2x-height: 28px;
$s-icon-company-2x-total-width: 422px;
$s-icon-company-2x-total-height: 414px;
$s-icon-company-2x-image: '/assets/images/sprites@2x.png';
$s-icon-company-2x: (0px, 386px, 0px, -386px, 30px, 28px, 422px, 414px, '/assets/images/sprites@2x.png', 's-icon_company@2x', );
$s-icon-deductions-2x-name: 's-icon_deductions@2x';
$s-icon-deductions-2x-x: 266px;
$s-icon-deductions-2x-y: 218px;
$s-icon-deductions-2x-offset-x: -266px;
$s-icon-deductions-2x-offset-y: -218px;
$s-icon-deductions-2x-width: 52px;
$s-icon-deductions-2x-height: 52px;
$s-icon-deductions-2x-total-width: 422px;
$s-icon-deductions-2x-total-height: 414px;
$s-icon-deductions-2x-image: '/assets/images/sprites@2x.png';
$s-icon-deductions-2x: (266px, 218px, -266px, -218px, 52px, 52px, 422px, 414px, '/assets/images/sprites@2x.png', 's-icon_deductions@2x', );
$s-icon-executives-2x-name: 's-icon_executives@2x';
$s-icon-executives-2x-x: 98px;
$s-icon-executives-2x-y: 350px;
$s-icon-executives-2x-offset-x: -98px;
$s-icon-executives-2x-offset-y: -350px;
$s-icon-executives-2x-width: 38px;
$s-icon-executives-2x-height: 24px;
$s-icon-executives-2x-total-width: 422px;
$s-icon-executives-2x-total-height: 414px;
$s-icon-executives-2x-image: '/assets/images/sprites@2x.png';
$s-icon-executives-2x: (98px, 350px, -98px, -350px, 38px, 24px, 422px, 414px, '/assets/images/sprites@2x.png', 's-icon_executives@2x', );
$s-icon-lead-2x-name: 's-icon_lead@2x';
$s-icon-lead-2x-x: 226px;
$s-icon-lead-2x-y: 288px;
$s-icon-lead-2x-offset-x: -226px;
$s-icon-lead-2x-offset-y: -288px;
$s-icon-lead-2x-width: 52px;
$s-icon-lead-2x-height: 52px;
$s-icon-lead-2x-total-width: 422px;
$s-icon-lead-2x-total-height: 414px;
$s-icon-lead-2x-image: '/assets/images/sprites@2x.png';
$s-icon-lead-2x: (226px, 288px, -226px, -288px, 52px, 52px, 422px, 414px, '/assets/images/sprites@2x.png', 's-icon_lead@2x', );
$s-icon-none-2x-name: 's-icon_none@2x';
$s-icon-none-2x-x: 0px;
$s-icon-none-2x-y: 0px;
$s-icon-none-2x-offset-x: 0px;
$s-icon-none-2x-offset-y: 0px;
$s-icon-none-2x-width: 160px;
$s-icon-none-2x-height: 140px;
$s-icon-none-2x-total-width: 422px;
$s-icon-none-2x-total-height: 414px;
$s-icon-none-2x-image: '/assets/images/sprites@2x.png';
$s-icon-none-2x: (0px, 0px, 0px, 0px, 160px, 140px, 422px, 414px, '/assets/images/sprites@2x.png', 's-icon_none@2x', );
$s-icon-none-like-2x-name: 's-icon_none_like@2x';
$s-icon-none-like-2x-x: 170px;
$s-icon-none-like-2x-y: 0px;
$s-icon-none-like-2x-offset-x: -170px;
$s-icon-none-like-2x-offset-y: 0px;
$s-icon-none-like-2x-width: 154px;
$s-icon-none-like-2x-height: 140px;
$s-icon-none-like-2x-total-width: 422px;
$s-icon-none-like-2x-total-height: 414px;
$s-icon-none-like-2x-image: '/assets/images/sprites@2x.png';
$s-icon-none-like-2x: (170px, 0px, -170px, 0px, 154px, 140px, 422px, 414px, '/assets/images/sprites@2x.png', 's-icon_none_like@2x', );
$s-icon-yinc-2x-name: 's-icon_yinc@2x';
$s-icon-yinc-2x-x: 384px;
$s-icon-yinc-2x-y: 288px;
$s-icon-yinc-2x-offset-x: -384px;
$s-icon-yinc-2x-offset-y: -288px;
$s-icon-yinc-2x-width: 34px;
$s-icon-yinc-2x-height: 30px;
$s-icon-yinc-2x-total-width: 422px;
$s-icon-yinc-2x-total-height: 414px;
$s-icon-yinc-2x-image: '/assets/images/sprites@2x.png';
$s-icon-yinc-2x: (384px, 288px, -384px, -288px, 34px, 30px, 422px, 414px, '/assets/images/sprites@2x.png', 's-icon_yinc@2x', );
$s-icon-yinc-02-2x-name: 's-icon_yinc_02@2x';
$s-icon-yinc-02-2x-x: 288px;
$s-icon-yinc-02-2x-y: 288px;
$s-icon-yinc-02-2x-offset-x: -288px;
$s-icon-yinc-02-2x-offset-y: -288px;
$s-icon-yinc-02-2x-width: 38px;
$s-icon-yinc-02-2x-height: 34px;
$s-icon-yinc-02-2x-total-width: 422px;
$s-icon-yinc-02-2x-total-height: 414px;
$s-icon-yinc-02-2x-image: '/assets/images/sprites@2x.png';
$s-icon-yinc-02-2x: (288px, 288px, -288px, -288px, 38px, 34px, 422px, 414px, '/assets/images/sprites@2x.png', 's-icon_yinc_02@2x', );
$s-icon-yinc-03-2x-name: 's-icon_yinc_03@2x';
$s-icon-yinc-03-2x-x: 336px;
$s-icon-yinc-03-2x-y: 288px;
$s-icon-yinc-03-2x-offset-x: -336px;
$s-icon-yinc-03-2x-offset-y: -288px;
$s-icon-yinc-03-2x-width: 38px;
$s-icon-yinc-03-2x-height: 34px;
$s-icon-yinc-03-2x-total-width: 422px;
$s-icon-yinc-03-2x-total-height: 414px;
$s-icon-yinc-03-2x-image: '/assets/images/sprites@2x.png';
$s-icon-yinc-03-2x: (336px, 288px, -336px, -288px, 38px, 34px, 422px, 414px, '/assets/images/sprites@2x.png', 's-icon_yinc_03@2x', );
$spritesheet-width: 211px;
$spritesheet-height: 207px;
$spritesheet-image: '/assets/images/sprites.png';
$spritesheet-sprites: ($s-bg-flag01, $s-bg-flag02, $s-btn-favorite, $s-btn-favorite-selected, $s-btn-favorite-shadow-selected, $s-btn-info01, $s-btn-play01, $s-flag-success, $s-icon-arrow01, $s-icon-company, $s-icon-deductions, $s-icon-executives, $s-icon-lead, $s-icon-none, $s-icon-none-like, $s-icon-yinc, $s-icon-yinc-02, $s-icon-yinc-03, );
$spritesheet: (211px, 207px, '/assets/images/sprites.png', $spritesheet-sprites, );
$retina-spritesheet-width: 422px;
$retina-spritesheet-height: 414px;
$retina-spritesheet-image: '/assets/images/sprites@2x.png';
$retina-spritesheet-sprites: ($s-bg-flag01-2x, $s-bg-flag02-2x, $s-btn-favorite-2x, $s-btn-favorite-selected-2x, $s-btn-favorite-shadow-selected-2x, $s-btn-info01-2x, $s-btn-play01-2x, $s-flag-success-2x, $s-icon-arrow01-2x, $s-icon-company-2x, $s-icon-deductions-2x, $s-icon-executives-2x, $s-icon-lead-2x, $s-icon-none-2x, $s-icon-none-like-2x, $s-icon-yinc-2x, $s-icon-yinc-02-2x, $s-icon-yinc-03-2x, );
$retina-spritesheet: (422px, 414px, '/assets/images/sprites@2x.png', $retina-spritesheet-sprites, );

/*
These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.

The list formatted variables are intended for mixins like `retina-sprite` and `retina-sprites`.
*/
$s-bg-flag01-group-name: 's-bg_flag01';
$s-bg-flag01-group: ('s-bg_flag01', $s-bg-flag01, $s-bg-flag01-2x, );
$s-bg-flag02-group-name: 's-bg_flag02';
$s-bg-flag02-group: ('s-bg_flag02', $s-bg-flag02, $s-bg-flag02-2x, );
$s-btn-favorite-group-name: 's-btn_favorite';
$s-btn-favorite-group: ('s-btn_favorite', $s-btn-favorite, $s-btn-favorite-2x, );
$s-btn-favorite-selected-group-name: 's-btn_favorite_selected';
$s-btn-favorite-selected-group: ('s-btn_favorite_selected', $s-btn-favorite-selected, $s-btn-favorite-selected-2x, );
$s-btn-favorite-shadow-selected-group-name: 's-btn_favorite_shadow_selected';
$s-btn-favorite-shadow-selected-group: ('s-btn_favorite_shadow_selected', $s-btn-favorite-shadow-selected, $s-btn-favorite-shadow-selected-2x, );
$s-btn-info01-group-name: 's-btn_info01';
$s-btn-info01-group: ('s-btn_info01', $s-btn-info01, $s-btn-info01-2x, );
$s-btn-play01-group-name: 's-btn_play01';
$s-btn-play01-group: ('s-btn_play01', $s-btn-play01, $s-btn-play01-2x, );
$s-flag-success-group-name: 's-flag_success';
$s-flag-success-group: ('s-flag_success', $s-flag-success, $s-flag-success-2x, );
$s-icon-arrow01-group-name: 's-icon_arrow01';
$s-icon-arrow01-group: ('s-icon_arrow01', $s-icon-arrow01, $s-icon-arrow01-2x, );
$s-icon-company-group-name: 's-icon_company';
$s-icon-company-group: ('s-icon_company', $s-icon-company, $s-icon-company-2x, );
$s-icon-deductions-group-name: 's-icon_deductions';
$s-icon-deductions-group: ('s-icon_deductions', $s-icon-deductions, $s-icon-deductions-2x, );
$s-icon-executives-group-name: 's-icon_executives';
$s-icon-executives-group: ('s-icon_executives', $s-icon-executives, $s-icon-executives-2x, );
$s-icon-lead-group-name: 's-icon_lead';
$s-icon-lead-group: ('s-icon_lead', $s-icon-lead, $s-icon-lead-2x, );
$s-icon-none-group-name: 's-icon_none';
$s-icon-none-group: ('s-icon_none', $s-icon-none, $s-icon-none-2x, );
$s-icon-none-like-group-name: 's-icon_none_like';
$s-icon-none-like-group: ('s-icon_none_like', $s-icon-none-like, $s-icon-none-like-2x, );
$s-icon-yinc-group-name: 's-icon_yinc';
$s-icon-yinc-group: ('s-icon_yinc', $s-icon-yinc, $s-icon-yinc-2x, );
$s-icon-yinc-02-group-name: 's-icon_yinc_02';
$s-icon-yinc-02-group: ('s-icon_yinc_02', $s-icon-yinc-02, $s-icon-yinc-02-2x, );
$s-icon-yinc-03-group-name: 's-icon_yinc_03';
$s-icon-yinc-03-group: ('s-icon_yinc_03', $s-icon-yinc-03, $s-icon-yinc-03-2x, );
$retina-groups: ($s-bg-flag01-group, $s-bg-flag02-group, $s-btn-favorite-group, $s-btn-favorite-selected-group, $s-btn-favorite-shadow-selected-group, $s-btn-info01-group, $s-btn-play01-group, $s-flag-success-group, $s-icon-arrow01-group, $s-icon-company-group, $s-icon-deductions-group, $s-icon-executives-group, $s-icon-lead-group, $s-icon-none-group, $s-icon-none-like-group, $s-icon-yinc-group, $s-icon-yinc-02-group, $s-icon-yinc-03-group, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `retina-sprite` mixin sets up rules and a media query for a sprite/retina sprite.
  It should be used with a "retina group" variable.

The media query is from CSS Tricks: https://css-tricks.com/snippets/css/retina-display-media-query/

$icon-home-group: ('icon-home', $icon-home, $icon-home-2x, );

.icon-home {
  @include retina-sprite($icon-home-group);
}
*/
@mixin sprite-background-size($sprite) {
  $sprite-total-width: nth($sprite, 7);
  $sprite-total-height: nth($sprite, 8);
  background-size: $sprite-total-width $sprite-total-height;
}

@mixin retina-sprite($retina-group) {
  $normal-sprite: nth($retina-group, 2);
  $retina-sprite: nth($retina-group, 3);
  @include sprite($normal-sprite);

  @media (-webkit-min-device-pixel-ratio: 2),
         (min-resolution: 192dpi) {
    @include sprite-image($retina-sprite);
    @include sprite-background-size($normal-sprite);
  }
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}

/*
The `retina-sprites` mixin generates a CSS rule and media query for retina groups
  This yields the same output as CSS retina template but can be overridden in SCSS

@include retina-sprites($retina-groups);
*/
@mixin retina-sprites($retina-groups) {
  @each $retina-group in $retina-groups {
    $sprite-name: nth($retina-group, 1);
    .#{$sprite-name} {
      @include retina-sprite($retina-group);
    }
  }
}
