@charset "utf-8";

@import url(notosanskr.css);

/**
 * variable
 */
$font-base-stack: 'Noto Sans Korean', sans-serif;
$font-sub-stack: 'Roboto', 'Noto Sans Korean', sans-serif;


@import "reset";
@import "sprites";


body { background-color: #f4f4f4; }

/**
 * z-index
**/
$z-layers: (
	'modal':            3000,
	'modaless':          900,
	'dropdown':          500,
	'hover':             200,
	'tooltip':           100,
	'default':             1,
	'bottomless-pit': -10000
);

@function z($layer) {
	@if not map-has-key($z-layers, $layer) {
		@warn "No layer found for `#{$layer}` in $z-layers map. Property omitted.";
	}

	@return map-get($z-layers, $layer);
}


/**
 * mixin
**/
///* medai query */
@mixin mobile-small {
	@media only screen and (max-width: 320px) {
		@content;
	}
}


@mixin retina {
	@media
		only screen and (-webkit-min-device-pixel-ratio: 2),
		only screen and (min--moz-device-pixel-ratio: 2),
		only screen and (-o-min-device-pixel-ratio: 2/1),
		only screen and (min-device-pixel-ratio: 2),
		only screen and (min-resolution: 192dpi),
		only screen and (min-resolution: 2dppx) {
			@content;
		}
}


@mixin aspect-ratio($width, $height) {
	position: relative;
	&:before {
		display: block;
		content: "";
		width: 100%;
		padding-top: ($height / $width) * 100%;
	}
	> .inner {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
}




/**
 * import
 */
@import "slick";
@import "contents";
@import "contents_funding";
@import "contents_company";
@import "contents_invest";
@import "contents_settings";
@import "layout";
