@charset "UTF-8";
@import url(notosanskr.css);
/**
 * variable
 */
/* Common Style */
* {
  margin: 0;
  padding: 0; }

/* set html5 elements to block */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, font, img, ins, q, s, samp, strike, strong, sub, sup, dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
  border: 0 none; }

body {
  position: relative;
  margin: 0;
  padding: 0;
  font-size: 100%;
  line-height: 1.3em;
  font-family: "Noto Sans Korean", sans-serif;
  -ms-text-size-adjust: 100%;
      text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

header, h1 {
  font-size: 100%; }

caption, legend {
  position: absolute;
  top: -9999px;
  left: -9999px;
  width: 0;
  height: 0;
  font-size: 0;
  overflow: hidden;
  visibility: hidden; }

caption {
  display: none; }

img {
  border: none;
  vertical-align: top;
  width: 100%; }

select, input {
  vertical-align: top; }

hr {
  display: none;
  border: 0 none; }

ol, ul, ul li {
  list-style: none; }

em {
  font-style: normal; }

menu li {
  list-style: none; }

address {
  display: inline;
  font-style: normal; }

button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  border: 0px;
  background-color: transparent; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input, textarea, keygen, select, button {
  font-family: "Noto Sans Korean", sans-serif; }

strong {
  font-weight: normal; }

dfn {
  font-style: normal; }

/* link Style */
a:link, a:visited, a:active, a:focus {
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

.hidden {
  display: none !important; }

.visible-hidden {
  visibility: hidden !important; }

.clear {
  clear: both; }

.txt-center {
  text-align: center !important; }

.o-hidden {
  overflow: hidden !important; }

/* forms */
fieldset {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }

input[type=submit] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  border: 0px; }

/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
/*
These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.

The list formatted variables are intended for mixins like `retina-sprite` and `retina-sprites`.
*/
/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
/*
The `retina-sprite` mixin sets up rules and a media query for a sprite/retina sprite.
  It should be used with a "retina group" variable.

The media query is from CSS Tricks: https://css-tricks.com/snippets/css/retina-display-media-query/

$icon-home-group: ('icon-home', $icon-home, $icon-home-2x, );

.icon-home {
  @include retina-sprite($icon-home-group);
}
*/
/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
/*
The `retina-sprites` mixin generates a CSS rule and media query for retina groups
  This yields the same output as CSS retina template but can be overridden in SCSS

@include retina-sprites($retina-groups);
*/
/**
 * z-index
**/
/**
 * import
 */
/* 투자 회사 */
.company-item {
  display: block;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  padding: 27px 6.944444444444% 0 6.944444444444%;
  height: 232px;
  background-position: center center;
  background-size: cover; }
  .company-item:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.1); }
  .company-item:hover {
    text-decoration: none; }
  .company-item time {
    display: block;
    position: relative;
    z-index: 1;
    font-size: 0.750rem;
    font-weight: 700;
    color: #ffe500;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3); }
  .company-item .title {
    display: block;
    position: relative;
    z-index: 1;
    margin-top: 5px;
    font-size: 1.188rem;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3); }
  .company-item .badges {
    overflow: hidden;
    position: relative;
    z-index: 1;
    margin-top: 8px; }
    .company-item .badges > span {
      display: block;
      float: left;
      margin-right: 5px;
      text-indent: -9999px; }
    .company-item .badges .deductions {
      background-image: url(/assets/images/sprites.png);
      background-position: -135px -31px;
      width: 26px;
      height: 26px; }
      @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        .company-item .badges .deductions {
          background-image: url(/assets/images/sprites@2x.png);
          background-size: 194px 123px; } }
    .company-item .badges .lead {
      background-image: url(/assets/images/sprites.png);
      background-position: -166px -31px;
      width: 26px;
      height: 26px; }
      @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        .company-item .badges .lead {
          background-image: url(/assets/images/sprites@2x.png);
          background-size: 194px 123px; } }
  .company-item .progress {
    display: block;
    position: absolute;
    right: 0;
    bottom: 25px;
    left: 0;
    padding: 0 6.944444444444%; }
    .company-item .progress p[data-value] {
      display: block;
      position: relative;
      font-size: 0.688rem;
      font-weight: 700;
      color: #ffe500;
      text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3); }
      .company-item .progress p[data-value]:before {
        content: attr(data-value) "%";
        display: block;
        position: absolute;
        top: -8px;
        right: 10px; }
      .company-item .progress p[data-value]:after {
        content: '';
        display: block;
        position: absolute;
        top: -5px;
        right: -8px;
        background-image: url(/assets/images/sprites.png);
        background-position: -135px -84px;
        width: 17px;
        height: 15px; }
        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
          .company-item .progress p[data-value]:after {
            background-image: url(/assets/images/sprites@2x.png);
            background-size: 194px 123px; } }
  .company-item progress[value] {
    position: relative;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    height: 4px;
    width: 100%;
    border: none;
    background-color: transparent; }
    .company-item progress[value]::-moz-progress-bar {
      background-color: transparent; }
    .company-item progress[value]::-webkit-progress-bar {
      background-color: transparent; }
    .company-item progress[value]::-webkit-progress-value {
      background-color: #fde832; }
    .company-item progress[value] .progress-bar {
      height: 4px;
      width: 100%;
      background-color: transparent; }
      .company-item progress[value] .progress-bar > span {
        display: block;
        background-color: #fde832; }
  .company-item .add-info {
    display: block;
    box-sizing: border-box;
    position: absolute;
    right: 0;
    bottom: -100%;
    left: 0;
    padding: 11px 6.944444444444% 0 6.944444444444%;
    height: 70px;
    background-color: rgba(0, 0, 0, 0.45);
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
    -webkit-animation-name: slideDown;
            animation-name: slideDown; }
    .company-item .add-info .current {
      float: left; }
    .company-item .add-info .goal {
      float: right;
      text-align: right; }
    .company-item .add-info span {
      display: block;
      font-size: 0.750rem;
      font-weight: 300;
      color: #fff; }
    .company-item .add-info strong {
      display: block;
      margin-top: 5px;
      font-size: 1.125rem;
      font-weight: 300;
      color: #fff; }
      .company-item .add-info strong em {
        font-weight: 700; }
  .company-item.is-opened .add-info {
    bottom: 0;
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
    -webkit-animation-name: slideUp;
            animation-name: slideUp; }

/* 투자 목록 */
.list-company > li {
  border-bottom: 1px solid #fff; }

.company {
  /* 회사 정보 삳단 */
  /* 회사 정보 탭 */
  /* 개별 탭 내용 */ }
  .company .company-info {
    display: block;
    box-sizing: border-box;
    position: relative;
    padding-top: 50px;
    height: 232px;
    background-position: center center;
    background-size: cover; }
    .company .company-info .inner {
      display: block;
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
      height: 146px;
      text-align: center;
      background-color: rgba(0, 0, 0, 0.5); }
      .company .company-info .inner .thumb {
        display: block;
        margin: -34px auto 0 auto;
        height: 67px;
        width: 67px;
        border: 3px solid #fff;
        border-radius: 67px;
        background-color: #fff; }
      .company .company-info .inner .title {
        margin-top: 11px;
        font-size: 0.938rem;
        font-weight: 500;
        color: #fff; }
      .company .company-info .inner .desc {
        margin-top: 4px;
        font-size: 0.750rem;
        font-weight: 400;
        color: #bdbdbd; }
      .company .company-info .inner .btn-play {
        display: block;
        margin: 12px auto 0 auto;
        text-indent: -9999px;
        background-image: url(/assets/images/sprites.png);
        background-position: 0px 0px;
        width: 81px;
        height: 29px; }
        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
          .company .company-info .inner .btn-play {
            background-image: url(/assets/images/sprites@2x.png);
            background-size: 194px 123px; } }
      .company .company-info .inner .badges {
        position: absolute;
        top: 15px;
        left: 4.444444444444%; }
        .company .company-info .inner .badges .btn-deductions {
          display: inline-block;
          margin-right: 1px;
          text-indent: -9999px;
          background-image: url(/assets/images/sprites.png);
          background-position: -135px -31px;
          width: 26px;
          height: 26px; }
          @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
            .company .company-info .inner .badges .btn-deductions {
              background-image: url(/assets/images/sprites@2x.png);
              background-size: 194px 123px; } }
        .company .company-info .inner .badges .icon-lead {
          display: inline-block;
          text-indent: -9999px;
          background-image: url(/assets/images/sprites.png);
          background-position: -166px -31px;
          width: 26px;
          height: 26px; }
          @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
            .company .company-info .inner .badges .icon-lead {
              background-image: url(/assets/images/sprites@2x.png);
              background-size: 194px 123px; } }
      .company .company-info .inner .btn-favorite {
        display: block;
        position: absolute;
        top: 0px;
        right: 0px;
        text-indent: -9999px;
        background-image: url(/assets/images/sprites.png);
        background-position: 0px -34px;
        width: 44px;
        height: 44px; }
        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
          .company .company-info .inner .btn-favorite {
            background-image: url(/assets/images/sprites@2x.png);
            background-size: 194px 123px; } }
        .company .company-info .inner .btn-favorite[data-state=selected] {
          background-image: url(/assets/images/sprites.png);
          background-position: -86px 0px;
          width: 44px;
          height: 44px; }
          @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
            .company .company-info .inner .btn-favorite[data-state=selected] {
              background-image: url(/assets/images/sprites@2x.png);
              background-size: 194px 123px; } }
  .company .tabs {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    z-index: 900;
    background-color: #fff; }
    .company .tabs > a {
      display: block;
      position: relative;
      -webkit-flex: 1;
          -ms-flex: 1;
              flex: 1;
      height: 43px;
      font-size: 0.750rem;
      font-weight: 400;
      color: #969696;
      text-align: center;
      line-height: 43px;
      border-bottom: 1px solid #dedede; }
      .company .tabs > a[data-state=selected] {
        font-weight: 500;
        color: #000; }
        .company .tabs > a[data-state=selected]:after {
          content: '';
          display: block;
          position: absolute;
          right: 0;
          bottom: 0;
          left: 0;
          height: 3px;
          background-color: #fde832; }
      .company .tabs > a + a {
        border-left: 1px solid #dedede; }
    .company .tabs.fixed {
      position: fixed;
      top: 0;
      right: 0;
      left: 0; }
  .company .tab-contents {
    /* 테이블 뷰 형태 */
    /* 요약 탭 */
    /* 상세정보 탭 */ }
    .company .tab-contents .header-table-view {
      padding: 0 6.944444444444%;
      height: 30px;
      font-size: 0.688rem;
      font-weight: 300;
      color: #888;
      line-height: 30px;
      border-top: 1px solid #dedede;
      background-color: #f1f1f1; }
    .company .tab-contents .list-table-view {
      width: 100%; }
      .company .tab-contents .list-table-view > li {
        overflow: hidden;
        padding: 0 6.944444444444%;
        height: 40px;
        border-top: 1px solid #dedede;
        /* normal */
        /* link */ }
        .company .tab-contents .list-table-view > li .title {
          float: left;
          font-size: 0.688rem;
          font-weight: 300;
          color: #888;
          line-height: 40px; }
        .company .tab-contents .list-table-view > li .content {
          float: right;
          font-size: 0.813rem;
          font-weight: 300;
          color: #888;
          line-height: 40px; }
          .company .tab-contents .list-table-view > li .content .em {
            font-weight: 700;
            color: #000; }
          .company .tab-contents .list-table-view > li .content .ci {
            height: 40px;
            width: auto; }
        .company .tab-contents .list-table-view > li a {
          display: block;
          position: relative;
          height: 100%; }
          .company .tab-contents .list-table-view > li a:after {
            content: '';
            display: block;
            position: absolute;
            top: 50%;
            right: 0px;
            margin-top: -7px;
            background-image: url(/assets/images/sprites.png);
            background-position: -183px -62px;
            width: 8px;
            height: 14px; }
            @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
              .company .tab-contents .list-table-view > li a:after {
                background-image: url(/assets/images/sprites@2x.png);
                background-size: 194px 123px; } }
          .company .tab-contents .list-table-view > li a .title {
            font-size: 0.813rem;
            font-weight: 300;
            color: #010101; }
      .company .tab-contents .list-table-view .btn-info {
        display: inline-block;
        margin-top: -2px;
        text-indent: -9999px;
        vertical-align: middle;
        background-image: url(/assets/images/sprites.png);
        background-position: 0px -83px;
        width: 40px;
        height: 40px; }
        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
          .company .tab-contents .list-table-view .btn-info {
            background-image: url(/assets/images/sprites@2x.png);
            background-size: 194px 123px; } }
    .company .tab-contents .tab-section .info-title {
      display: block;
      height: 90px;
      font-size: 0.875rem;
      font-weight: 400;
      color: #fff;
      text-align: center;
      line-height: 90px; }
      .company .tab-contents .tab-section .info-title:after {
        content: '';
        display: inline-block;
        margin-top: -2px;
        margin-left: 5px;
        vertical-align: middle; }
      .company .tab-contents .tab-section .info-title.company {
        background: url("/assets/images/bg_info_title01.jpg") center center no-repeat;
        background-size: cover; }
        .company .tab-contents .tab-section .info-title.company:after {
          background-image: url(/assets/images/sprites.png);
          background-position: -135px -104px;
          width: 15px;
          height: 14px; }
          @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
            .company .tab-contents .tab-section .info-title.company:after {
              background-image: url(/assets/images/sprites@2x.png);
              background-size: 194px 123px; } }
        @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
          .company .tab-contents .tab-section .info-title.company {
            background-image: url("/assets/images/bg_info_title01@2x.jpg"); } }
      .company .tab-contents .tab-section .info-title.executives {
        background: url("/assets/images/bg_info_title02.jpg") center center no-repeat;
        background-size: cover; }
        .company .tab-contents .tab-section .info-title.executives:after {
          background-image: url(/assets/images/sprites.png);
          background-position: -157px -84px;
          width: 19px;
          height: 12px; }
          @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
            .company .tab-contents .tab-section .info-title.executives:after {
              background-image: url(/assets/images/sprites@2x.png);
              background-size: 194px 123px; } }
        @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
          .company .tab-contents .tab-section .info-title.executives {
            background-image: url("/assets/images/bg_info_title02@2x.jpg"); } }
    .company .tab-contents .tab-section .check-options {
      padding: 10px 0 0 0;
      background-color: #f4f4f4; }
      .company .tab-contents .tab-section .check-options .options-title {
        padding: 0 6.944444444444%;
        font-size: 0.688rem;
        font-weight: 300;
        color: #888; }
      .company .tab-contents .tab-section .check-options .list-checks {
        overflow: hidden;
        padding: 0 6.944444444444% 25px 6.944444444444%; }
        .company .tab-contents .tab-section .check-options .list-checks > li {
          float: left; }
        .company .tab-contents .tab-section .check-options .list-checks .item-checks {
          display: block;
          box-sizing: border-box;
          position: relative;
          margin: 13px 11px 0 0;
          padding: 13px 10px 0 14px;
          height: 84px;
          width: 69px;
          font-size: 0.750rem;
          font-weight: 300;
          color: #000;
          line-height: 16px;
          text-decoration: none;
          word-break: keep-all;
          border-radius: 2px;
          background-color: #fff;
          box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2); }
          .company .tab-contents .tab-section .check-options .list-checks .item-checks:before {
            content: '';
            display: block;
            position: absolute;
            top: -6px;
            left: 11px;
            background-image: url(/assets/images/sprites.png);
            background-position: -135px -84px;
            width: 17px;
            height: 15px; }
            @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
              .company .tab-contents .tab-section .check-options .list-checks .item-checks:before {
                background-image: url(/assets/images/sprites@2x.png);
                background-size: 194px 123px; } }
      .company .tab-contents .tab-section .check-options.scroll .inner {
        overflow: scroll; }
      .company .tab-contents .tab-section .check-options.scroll .list-checks {
        width: 600px; }
        .company .tab-contents .tab-section .check-options.scroll .list-checks .item-checks {
          display: block;
          padding-bottom: 13px;
          min-height: 94px;
          height: auto;
          min-width: 185px;
          max-width: 185px; }
    .company .tab-contents.summary > header {
      display: block;
      box-sizing: border-box;
      overflow: hidden;
      padding: 20px 6.944444444444% 0 6.944444444444%;
      height: 160px;
      background-color: #f4f4f4; }
      .company .tab-contents.summary > header .progress {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        position: relative;
        float: left;
        margin: 7px;
        height: 105px;
        width: 105px;
        text-align: center;
        border-radius: 105px;
        background-color: #fff;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center; }
        .company .tab-contents.summary > header .progress:before {
          content: '';
          display: none;
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          border-radius: 105px; }
        .company .tab-contents.summary > header .progress[data-state=success]:before {
          display: block;
          background-color: rgba(124, 175, 215, 0.4); }
        .company .tab-contents.summary > header .progress[data-state=success] .title {
          display: block;
          margin-left: -29.5px;
          background-image: url(/assets/images/sprites.png);
          background-position: -45px -83px;
          width: 59px;
          height: 26px; }
          @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
            .company .tab-contents.summary > header .progress[data-state=success] .title {
              background-image: url(/assets/images/sprites@2x.png);
              background-size: 194px 123px; } }
        .company .tab-contents.summary > header .progress[data-state=close]:before {
          display: block;
          background-color: rgba(139, 139, 139, 0.4); }
        .company .tab-contents.summary > header .progress[data-state=close] .title {
          display: block;
          margin-left: -29.5px;
          background-image: url(/assets/images/sprites.png);
          background-position: -135px 0px;
          width: 59px;
          height: 26px; }
          @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
            .company .tab-contents.summary > header .progress[data-state=close] .title {
              background-image: url(/assets/images/sprites@2x.png);
              background-size: 194px 123px; } }
        .company .tab-contents.summary > header .progress .title {
          display: none;
          position: absolute;
          top: -8px;
          left: 50%;
          z-index: 1;
          font-size: 0.750rem;
          font-weight: 700;
          color: #fff; }
        .company .tab-contents.summary > header .progress .value {
          display: block;
          font-size: 1.000rem;
          font-weight: bold;
          color: #000; }
          .company .tab-contents.summary > header .progress .value em {
            font-size: 1.625rem; }
        .company .tab-contents.summary > header .progress .participation {
          margin-top: 5px;
          font-size: 0.750rem;
          font-weight: 300;
          color: #888; }
          .company .tab-contents.summary > header .progress .participation em {
            font-weight: 700;
            color: #000; }
        .company .tab-contents.summary > header .progress .circle {
          position: absolute;
          top: -7px;
          left: -7px;
          z-index: 0;
          height: 119px;
          width: 119px; }
@-webkit-keyframes svg-load {
  0% {
    stroke-dashoffset: 0; } }
@keyframes svg-load {
  0% {
    stroke-dashoffset: 0; } }
          .company .tab-contents.summary > header .progress .circle svg {
            height: 119px;
            width: 119px; }
            .company .tab-contents.summary > header .progress .circle svg:nth-child(2) {
              position: absolute;
              top: 0;
              left: 0;
              -webkit-transform: rotate(-90deg);
                      transform: rotate(-90deg); }
            .company .tab-contents.summary > header .progress .circle svg:nth-child(2) path {
              fill: none;
              stroke-width: 7;
              stroke-dasharray: 629;
              stroke: #f4f4f4;
              opacity: 1;
              -webkit-animation: svg-load 1s;
                      animation: svg-load 1s; }
      .company .tab-contents.summary > header .summary-info {
        overflow: hidden;
        float: right;
        width: 51.935483870968%; }
        .company .tab-contents.summary > header .summary-info > li {
          float: left;
          margin-top: 7px;
          width: 50%; }
          .company .tab-contents.summary > header .summary-info > li:nth-child(even) {
            text-align: right; }
          .company .tab-contents.summary > header .summary-info > li .title {
            font-size: 0.625rem;
            font-weight: 300;
            color: #888; }
          .company .tab-contents.summary > header .summary-info > li .content {
            font-size: 1.000rem;
            font-weight: 300;
            color: #888; }
            .company .tab-contents.summary > header .summary-info > li .content time {
              color: #ac7f5e; }
            .company .tab-contents.summary > header .summary-info > li .content strong {
              font-weight: 700;
              color: #000; }
            .company .tab-contents.summary > header .summary-info > li .content sub {
              font-size: 0.625rem;
              vertical-align: middle; }

.is-hidden {
  display: none; }

/* 투자하기 */
.shortcut-invest {
  display: block;
  position: fixed;
  bottom: 16px;
  right: 16px; }
  .shortcut-invest .btn-invest {
    display: block;
    position: relative;
    height: 57px;
    width: 57px;
    text-indent: -9999px;
    border-radius: 57px;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.25), inset 0px 1px 0 0 rgba(255, 255, 255, 0.55);
    background-color: #494949; }
    .shortcut-invest .btn-invest:before {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -7.5px;
      margin-left: -8.5px;
      background-image: url(/assets/images/sprites.png);
      background-position: -135px -62px;
      width: 19px;
      height: 17px; }
      @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        .shortcut-invest .btn-invest:before {
          background-image: url(/assets/images/sprites@2x.png);
          background-size: 194px 123px; } }
    .shortcut-invest .btn-invest:after {
      content: attr(data-title);
      display: block;
      box-sizing: border-box;
      position: absolute;
      top: 0;
      left: 26px;
      z-index: -1;
      padding-left: 16px;
      height: 57px;
      width: 0px;
      font-size: 0.813rem;
      font-weight: 400;
      color: #fff;
      line-height: 57px;
      text-indent: 0px;
      border-radius: 57px 0 0 57px;
      background-color: rgba(73, 73, 73, 0.9);
      -webkit-animation-duration: 3s;
              animation-duration: 3s;
      -webkit-animation-name: invet-txt;
              animation-name: invet-txt;
      -webkit-animation-fill-mode: both;
              animation-fill-mode: both;
      -webkit-animation-delay: 1s;
              animation-delay: 1s; }
    .shortcut-invest .btn-invest[data-state=exit]:before {
      content: '  ';
      margin-top: -7.5px;
      margin-left: -8.5px;
      background-image: url(/assets/images/sprites.png);
      background-position: -159px -62px;
      width: 19px;
      height: 17px; }
      @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        .shortcut-invest .btn-invest[data-state=exit]:before {
          background-image: url(/assets/images/sprites@2x.png);
          background-size: 194px 123px; } }
  .shortcut-invest span.btn-invest {
    opacity: 0.7; }
    .shortcut-invest span.btn-invest:before {
      content: ' ';
      margin-top: -7.5px;
      margin-left: -8.5px;
      background-image: url(/assets/images/sprites.png);
      background-position: -159px -62px;
      width: 19px;
      height: 17px; }
      @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        .shortcut-invest span.btn-invest:before {
          background-image: url(/assets/images/sprites@2x.png);
          background-size: 194px 123px; } }

/* keyframes */
/* 투자하기 버튼 */
@-webkit-keyframes invet-txt {
  0% {
    left: 26px;
    width: 0px;
    opacity: 0; }
  10% {
    left: -74px;
    width: 104px;
    opacity: 1; }
  90% {
    left: -74px;
    width: 104px;
    opacity: 1; }
  100% {
    left: 26px;
    width: 0px;
    opacity: 0; } }
@keyframes invet-txt {
  0% {
    left: 26px;
    width: 0px;
    opacity: 0; }
  10% {
    left: -74px;
    width: 104px;
    opacity: 1; }
  90% {
    left: -74px;
    width: 104px;
    opacity: 1; }
  100% {
    left: 26px;
    width: 0px;
    opacity: 0; } }
/* 슬라이드 up/down */
@-webkit-keyframes slideUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
    opacity: 0; }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    opacity: 1; } }
@keyframes slideUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
    opacity: 0; }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    opacity: 1; } }
@-webkit-keyframes slideDown {
  from {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    visibility: visible; }
  to {
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0); } }
@keyframes slideDown {
  from {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    visibility: visible; }
  to {
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0); } }
